﻿@model List<Audire_POCO.SectorPOCO>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="img/ico" href='images/favicon.png'>
<title>:: Audire ::</title>
<link href="~/Content/css/sectorbootstrap.min.css" rel="stylesheet" />
<link href="~/Content/new_ui/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/sectorstyle.css" rel="stylesheet" />

<style>
    .btn-save{
        background:#fff;
        border-radius:5px;
        padding:7px 20px;
        border:solid 1px #f5f5f5
    }
    .box-part{
        margin-top:35px
    }
</style>

<header class="navigation" id="sticky-nav">
    <div class="top-logo">
        <a href="https://www.myaudire.com/"><img src="~/Content/New_dashboard/images/LEAP-Logo.png" /></a>

    </div>
    <div style="width:70%;">
        <nav id='cssmenu' class="navigation">
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                <li><a href="https://www.myaudire.com/">About</a></li>
                <li><a href="https://www.myaudire.com/">Help</a></li>
                <li><a href="https://www.myaudire.com/">Pricing</a></li>
            </ul>

        </nav>

    </div>
    <div class="book_trip">
        <a href="https://www.myaudire.com/">Contact Us</a>
        <a href="/User/LogOut">Sign Out</a>
    </div>
   
</header>
<div class="middle_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mn_try">
                    <h2>Platform For Understanding Your Data</h2>
                    <p>Our customer-built Data Analytics platform enables organizations to perform auditing activities at a rapid poce, <br/> allowing companies to move faster and be more resilent.</p>
                    <a href="https://www.myaudire.com/">Try Now</a>
                </div>
            </div>
        </div>

        @if (Model != null)
        {

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="@item.cssClass.ToString()">


                            @if (Convert.ToString(item.sector_name).Contains("Manufacturing"))
                            {
                                <img src="~/Content/images/Manufacturing.png" alt="">
                            }
                            else if (Convert.ToString(item.sector_name).Contains("Healtcare"))
                            {
                                <img src="~/Content/images/healthcare.png" alt="">
                            }
                            else if (Convert.ToString(item.sector_name).Contains("Facility Management"))
                            {
                                <img src="~/Content/images/sustain.png" alt="">
                            }
                            else
                            {
                                <img src="~/Content/new_ui/images/supplier.png" alt="">
                            }

                            <h4 class="title">@Html.Label(item.sector_name)</h4>

                            <input type="button" value="Click Here" class="btn-save" id="@item.ID" onclick="return Clickme(this.id)" />
                            <div>
                                <span id="errorMessage_@item.ID" style="color:white"></span>
                            </div>
                        </div>

                    </div>
                }
            </div>

        }
    </div>
</div>








@*<img src="~/Content/images/healthcare.png" alt="">*@
@*<div class="title">
        <h4>Health Care</h4>
    </div>
    <input type="button" value="Click Here" class="btn-save" id="3" onclick="return Clickme(this.id)" />*@


@*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part box-part1 text-center">
            <img src="~/Content/images/sustain.png" alt="">


            <div class="title">
                <h4>Sustainability</h4>
            </div>
            <input type="button" value="Click Here" class="btn-save" id="2" onclick="return Clickme(this.id)" />

        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part box-part2 text-center">
            <img src="~/Content/images/Manufacturing.png" alt="">


            <div class="title">
                <h4>Manufacturing</h4>
            </div>
            <input type="button" value="Click Here" class="btn-save" id="1" onclick="return Clickme(this.id)" />

        </div>
    </div>*@



<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Scripts/js/sectorbootstrap.min.js"></script>
<script type="text/javascript">

    (function ($) {
        $.fn.menumaker = function (options) {
            var cssmenu = $(this), settings = $.extend({
                format: "dropdown",
                sticky: false
            }, options);
            return this.each(function () {
                $(this).find(".button").on('click', function () {
                    $(this).toggleClass('menu-opened');
                    var mainmenu = $(this).next('ul');
                    if (mainmenu.hasClass('open')) {
                        mainmenu.slideToggle().removeClass('open');
                    }
                    else {
                        mainmenu.slideToggle().addClass('open');
                        if (settings.format === "dropdown") {
                            mainmenu.find('ul').show();
                        }
                    }
                });
                cssmenu.find('li ul').parent().addClass('has-sub');
                multiTg = function () {
                    cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>');
                    cssmenu.find('.submenu-button').on('click', function () {
                        $(this).toggleClass('submenu-opened');
                        if ($(this).siblings('ul').hasClass('open')) {
                            $(this).siblings('ul').removeClass('open').slideToggle();
                        }
                        else {
                            $(this).siblings('ul').addClass('open').slideToggle();
                        }
                    });
                };
                if (settings.format === 'multitoggle') multiTg();
                else cssmenu.addClass('dropdown');
                if (settings.sticky === true) cssmenu.css('position', 'fixed');
                resizeFix = function () {
                    var mediasize = 1000;
                    if ($(window).width() > mediasize) {
                        cssmenu.find('ul').show();
                    }
                    if ($(window).width() <= mediasize) {
                        cssmenu.find('ul').hide().removeClass('open');
                    }
                };
                resizeFix();
                return $(window).on('resize', resizeFix);
            });
        };
    })(jQuery);

    (function ($) {
        $(document).ready(function () {
            $("#cssmenu").menumaker({
                format: "multitoggle"
            });
        });
    })(jQuery);

    $("#contactus").click(function (e) {
        window.location.href = "https://www.myaudire.com/";
    });

    function Clickme(id) {
        var sectorid = id;
        var baseurl = '@Url.Content("~")';
        //var mainurl = baseurl + "/SectorDashboard/CheckValidUser";
        //var mainurl1 = baseurl + "/Dashboard/Dashboard";
        //var mainurl2 = baseurl + "/User/Login";
        //var mainurl3 = baseurl + "/Role/Role";
        //var mainurl4 = baseurl + "/SustainabilityDashboard/Index";
        var mainurl = "/SectorDashboard/CheckValidUser";
        var mainurl1 = "/Dashboard/Dashboard";
        var mainurl2 ="/User/Login";
        var mainurl3 = "/Role/Role";
        var mainurl4 = "/SustainabilityDashboard/Index";
        $.get(mainurl, { sectorid: sectorid }, function (data) {
            if (data == "Success") {
                window.location.href = mainurl1;
            }
            else if (data == "fail") {
                window.location.href = mainurl2;
            }
            else if (data == "Sustainability") {
                window.location.href = mainurl4;
            }
            else if (data == "Others")
            {
              
                window.location.href = mainurl3;
            }
            else {
                    $("#errorMessage_" + id).html(data);

                //alert("You Don't have the access for this Sector Please click on Contact Us for more Details");
            }

        });
    }
</script>
