﻿@model List<Audire_POCO.SubAudit>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "CAPAReport";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<script>
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        setModule();
        var module_id = $("#ddlmodule").children("option:selected").val();
        //debugger;
        //var audit_lbl = "";
        //if (module_id == 1) {
        //    audit_lbl = "Compliance";
        //}
        //else if (module_id == 2) {
        //    audit_lbl = "Process";
        //}
        //else if (module_id == 3) {
        //    audit_lbl = "Product";
        //}
        //else {
        //    audit_lbl = "Supplier";
        //}
        //$('#lblAuditType').text(audit_lbl);

        debugger;
        $.ajax({
            url: rootUrl+"CloseOpenTask/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id }),
            success: function (result) {
                console.log(result);
                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
                if (ddlresult.audit_type != undefined && ddlresult.audit_type != '' && ddlresult.audit_type != null)
                    $("#ddlAudit_Type").val(ddlresult.audit_type);
            }
        });
        $('#ddlmodule').on("change", function (event) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            $.ajax({
                url: rootUrl + "CloseOpenTask/GetAuditType",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "module_id": module_id }),
                success: function (result) {
                    console.log(result);
                    $("#ddlAudit_Type").html(""); // clear before appending new list
                    $.each(result, function (i, auditType) {
                        $("#ddlAudit_Type").append(
                            $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                    });
                    //if (ddlresult.audit_type != undefined && ddlresult.audit_type != '' && ddlresult.audit_type != null)
                    //    $("#ddlAudit_Type").val(ddlresult.audit_type);
                    debugger;
                    var id = $("#ddlAudit_Type").children("option:selected").val();
                    var name = $("#ddlAudit_Type").children("option:selected").text();
                    $("#viewCAPA").load(rootUrl + "CAPA/LoadCAPAReport",
                 { auditType: id, auditType_name: name });
                }
            });

            
        });

        //$('.table').on('click', 'tbody tr td', function () {
        //    debugger;
        //    var row_index = $(this).parent().index('tr');
        //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
        //    var audit_id = $(this).parent().find("input[type=hidden]").val();
        //    var question_id = $(this).parent()[0].cells[1].innerText;
        //    ConfirmDialog('Are you confirming that the proper action is taken',audit_id,question_id);
        //})
        $('#ddlAudit_Type').on("change", function (event) {
            //location.reload();
            var id = $("#ddlAudit_Type").children("option:selected").val();
            var name = $("#ddlAudit_Type").children("option:selected").text();
            $("#viewCAPA").load(rootUrl + "CAPA/LoadCAPAReport",
         { auditType: id, auditType_name: name });
        });
    })


    function ConfirmDialog(message, audit_id) {
        debugger;
        var question_id=0
        $('<div></div>').appendTo('body')
          .html('<div><h6>' + message + '?</h6></div>')
          .dialog({
              modal: true,
              title: 'Effectiveness Check',
              zIndex: 99999,
              autoOpen: true,
              width: '500px',
              resizable: false,
              buttons: {
                  Yes: function () {
                      debugger;
                      // $(obj).removeAttr('onclick');
                      // $(obj).parents('.Parent').remove();
                      $.ajax({
                          url: rootUrl + "CAPA/SaveConfirmation",
                          type: 'POST',
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          dataType: "json",
                          data: '{ audit_id: "' + audit_id + '", question_id: "' + question_id + '", confirm: "Y"}',
                         // data: {},
                          success: function (result) {
                              debugger;
                              
                              alert(result.err_msg);
                              location.reload();
                              $('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

                              
                          }
                      });
                      $(this).dialog("close");
                  },
                  No: function () {
                      debugger;
                      $.ajax({
                          url: rootUrl + "CAPA/SaveConfirmation",
                          type: 'POST',
                          cache: false,
                          contentType: "application/json; charset=utf-8",
                          dataType: "json",
                          data: '{ audit_id: "' + audit_id + '", question_id: "' + question_id + '", confirm: "N"}',
                          success: function (result) {
                              alert(result.err_msg);
                              location.reload();
                              //$('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

                              //
                          }
                      });
                      $(this).dialog("close");
                  }
              },
              close: function (event, ui) {
                  $(this).remove();
              }
          });
    };
</script>
<div class="col-md-12 nopad">
    <div class="bread_user">
        <div class="col-md-9">
            <h2>CAPA</h2>
            <p><a href="#">Audit </a> >> CAPA</p>
        </div>

        <div class="col-md-3">
            @*@Html.DropDownList("audit_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control mn_top search-slt", id = "ddlAudit_Type" })*@
            @Html.DropDownList("audit_id", (CommonDropdowns.GetAudit_Type()), new { @class = "form-control mn_top search-slt", id = "ddlAudit_Type" })

        </div>
    </div>

</div>


@if (Model != null)
{
    foreach (var m in Model)
    {
        <div class="add_new_user">
            <div class="row mn_row">

                <div class="col-md-12">

                   

                    <div id="viewCAPA" class="@m.div_class" style="overflow-x:hidden;">
                        @Html.Action("LoadCAPAReport", "CAPA", new { auditType = m.ID, auditType_name = m.SubAudit_Name })

                    </div>
                    <div class="col-md-4">
                        <div class="mn_green_color"><i class="fa fa-circle"></i> <span>Action Implemented on Time</span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="mn_yellow"><i class="fa fa-circle"></i> <span>Action in Progress</span></div>
                    </div>
                    <div class="col-md-4">
                        <div class="mn_red"><i class="fa fa-circle"></i> <span>Action Delayed</span></div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        break;
    }
}
