﻿@model List<Audire_POCO.DashboardPOCO>


<script type="text/javascript">
    $(function () {
        $('#myStat16').circliful();
        $('#myStat17').circliful();
        $('#myStat18').circliful();
        $('#myStat19').circliful();
    })
</script>
    @if (Model != null)
    {
        foreach (var m in Model)
        {

            <div class="col-md-12 nopad">
                <div class="col-lg-6 col-md-6">
                    <div class="total_audits">
                        <div class="mn_heading col-md-12">
                            <h4>Performance History</h4>
                            <h6>@String.Concat("Updated on ", m.detail.Updated_date)</h6>
                        </div>
                        <div class="mn-string">
                            <div class="mn-hundred">
                                <div class="col-md-3 col-sm-3 col-xs-12 nopad">
                                    <div id="myStat16" data-dimension="105" data-text="@m.detail.total_Audits.ToString()" data-info="Total Audits" data-width="4" data-fontsize="38" data-percent="41" data-fgcolor="#fcc008" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 nopad">
                                    <div id="myStat17" data-dimension="105" data-text="@m.detail.PendingAudits.ToString()" data-info="Pending Audits" data-width="4" data-fontsize="38" data-percent="41" data-fgcolor="#f67435" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 nopad">
                                    <div id="myStat18" data-dimension="105" data-text="@m.detail.Open_NC.ToString()" data-info="Open NC" data-width="4" data-fontsize="38" data-percent="259" data-fgcolor="#f04358" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                </div>
                                <div class="col-md-3 col-sm-3  col-xs-12 nopad">
                                    <div id="myStat19" data-dimension="105" data-text="@m.detail.Closed_NC.ToString()" data-info="Closed NC" data-width="4" data-fontsize="38" data-percent="6" data-fgcolor="#f91c86" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="total_audits">

                        <div class="mn_heading col-md-12">
                            <h4>Upcoming Audits</h4>
                            <h6>@String.Concat("Updated on ", m.detail.Updated_date)</h6>
                        </div>
                        <div class="col-md-12 nopad">
                            <!-- <marquee scrollamount="7" onmouseover="this.stop();" onmouseout="this.start();"> -->
                            <marquee scrollamount="7" onmouseover="this.stop();" onmouseout="this.start();">
                                <ul>
                                    @foreach (var aud in m.detail.upcomingAudits)
                                    {
                                        <li>
                                            <div class="@String.Concat("open_task",(aud.color_code==0)? " open_task1":((aud.color_code==1)? " open_task2": " open_task3"))">
                                                <h5>@aud.AuditType</h5>
                                                <h6>@aud.location</h6>
                                                <p>@aud.planned_date</p>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>

            @Html.Hidden("hdnDashboardModule_id", m.Module_id)
            @Html.Hidden("hdnDashboardModule_name", m.Module_name)

            break;
        }
    }