﻿@model List<Audire_POCO.DashboardPOCO>

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    //$(window).load(function () {

    //    $(function () {
    //        $('.str4').liMarquee({
    //            direction: 'up',
    //            loop: -1,
    //            scrolldelay: 0,
    //            scrollamount: 30,
    //            circular: true,
    //            drag: true
    //        });
    //    });

    //})

    $(function () {

        //$('.str4').liMarquee({
        //    direction: 'up',
        //    loop: -1,
        //    scrolldelay: 0,
        //    scrollamount: 30,
        //    circular: true,
        //    drag: true
        //});
    });

</script>
<script type="text/javascript">
    $(function () {
        $('#divMore').height('230px');
        $('.viewmore').click(function (e) {

            var expand = $('#expand').val();
            if (expand == undefined || expand == null || expand == "" || expand == "collapsed") {
                $('#divMore').height('390px');
                $('#expand').val("expanded");
            }
            else {
                $('#divMore').height('230px');
                $('#expand').val("collapsed");
            }
        });

        $('.ddlFrequency').on('change', function (e) {

        });

        $(".schedule").click(function (e) {
            window.location.href = "@Url.Action("Calendar", "Calendar")";
        });

        $(".head-box-1").click(function (e) {
            debugger;
            window.location.href = this.children[1].children[1].children[1].href;

        });

        $("#datepicker").datepicker({ minDate: 0 });

        $("#datepicker").focus();

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(window).resize(function (e) {
            if ($(window).width() <= 768) {
                $("#wrapper").removeClass("toggled");
            } else {
                $("#wrapper").addClass("toggled");
            }
        });

        $("#dset").click(function () {
            $("#setting-drop1").toggle('1000');
        });

        $(".nav-link").hover(function () {
            $('.sidebar-menu').removeClass("flowHide");
            $(this).addClass('tax-active');

        }, function () {
            $('.sidebar-menu')
               .addClass("flowHide");
            $(this).removeClass('tax-active');

        });

        $(".hamburger").click(function () {
            $('.sidebar-menu').removeClass("flowHide");
            $(".sidebar-menu").toggleClass("full-side-bar");
            $('.nav-link-name').toggleClass('name-hide');
        });

        $(document).on('click', '.cta', function () {
            $(this).toggleClass('active')
        })

        $(window).on("load", function () {
            $("#content-1").mCustomScrollbar({
                theme: "minimal"
            });

        });

        $.ajax({
            url: "GetDashboardChart",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //data: ({ "RoleName": item, "RoleId": id }),
            success: function (result) {
                debugger;
                var dataPoints = [];
                var obj;
                for (var i = 0; i < result.length; i++)
                {
                    //obj = { x: new Date(result[i].year, result[i].mon-1), y: result[i].y }
                    obj = { x: new Date(result[i].audit_date), y: result[i].y }
                    dataPoints.push(obj);
                }
                console.log(dataPoints);
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    //title: {
                    //    text: "Product Trends By Month"
                    //},
                    axisY: {
                        includeZero: false
                    },
                    axisX: {
                        valueFormatString: "MMM YYYY",
                    },
                    toolTip: {
                        shared: true
                    },
                    data: [{
                        type: "line",
                        name: "Audits",
                        showInLegend: true,
                        //xValueFormatString: "YYYY",
                        dataPoints: dataPoints
                    }]
                });
                chart.render();
 
            }
            //dataPoints = [
            //            { x: new Date(2019, 0), y: 0 },
            //            { x: new Date(2019, 1), y: 0 },
            //            { x: new Date(2019, 2), y: 0 },
            //            { x: new Date(2019, 3), y: 0 },
            //            { x: new Date(2019, 4), y: 0 },
            //            { x: new Date(2019, 5), y: 0 },
            //            { x: new Date(2019, 6), y: 0 },
            //            { x: new Date(2019, 7), y: 0 },
            //            { x: new Date(2019, 8), y: 0 },
            //            { x: new Date(2019, 9), y: 82 },
            //            { x: new Date(2019, 10), y: 146 },
            //            { x: new Date(2019, 11), y: 210 }
            //];
            //var options = {
            //    animationEnabled: true,
            //    title: {
            //        text: ""
            //    },
            //    axisX: {
            //        valueFormatString: ""
            //    },
            //    data: [{
            //        xValueFormatString: "MMMM",
            //        type: "spline",
            //        dataPoints: dataPoints
            //    }]
            //};
            //$("#chartContainer").CanvasJSChart(options);
        //}
        });

        });

        function countUp(count) {
            var div_by = 100,
                speed = Math.round(count / div_by),
                $display = $('.countdown_first'),
                run_count = 1,
                int_speed = 24;
            var int = setInterval(function () {
                if (run_count < div_by) {
                    $display.text(speed * run_count);
                    run_count++;
                } else if (parseInt($display.text()) < count) {
                    var curr_count = parseInt($display.text()) + 1;
                    $display.text(curr_count);
                } else {
                    clearInterval(int);
                }
            }, int_speed);
        }
        // countUp(108);

        function countUp2(count) {
            var div_by = 100,
                speed = Math.round(count / div_by),
                $display = $('.countdown_second'),
                run_count = 1,
                int_speed = 24;
            var int = setInterval(function () {
                if (run_count < div_by) {
                    $display.text(speed * run_count);
                    run_count++;
                } else if (parseInt($display.text()) < count) {
                    var curr_count = parseInt($display.text()) + 1;
                    $display.text(curr_count);
                } else {
                    clearInterval(int);
                }
            }, int_speed);
        }
        //countUp2(9);

        function countUp3(count) {
            var div_by = 100,
                speed = Math.round(count / div_by),
                $display = $('.countdown_fourth'),
                run_count = 1,
                int_speed = 24;
            var int = setInterval(function () {
                if (run_count < div_by) {
                    $display.text(speed * run_count);
                    run_count++;
                } else if (parseInt($display.text()) < count) {
                    var curr_count = parseInt($display.text()) + 1;
                    $display.text(curr_count);
                } else {
                    clearInterval(int);
                }
            }, int_speed);
        }
        // countUp3(63);

        $("#lstmnth").click(function () {
            debugger;
            var employee = new Object();
            //employee.Name = $('#txtName').val();

            //if (employee != null) {
            //    $.ajax({
            //        type: "POST",
            //        url: "/JQueryAjaxCall/AjaxPostCall",
            //        data: JSON.stringify(employee),
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "json",
            //        success: function (response) {
            //            if (response != null) {
            //                alert("Name : " + response.Name + ", Designation : " + response.Designation + ", Location :" + response.Location);
            //            } else {
            //                alert("Something went wrong");
            //            }
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //}
        });

        function LoadAverageScore(obj)
        {
            debugger;
            console.log(obj);
            var id = $("#hdnDashboardModule_id").val();
            var name = $("#hdnDashboardModule_name").val();
            var freq = obj.innerText;
            $.ajax({
                url: "GetAverageScore",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "Module_id": id, "Module_name": name, "freq": freq }),
                success: function (result) {
                    $('#dropdownMenu1')[0].innerText = freq;
                    $("#lblAvgScore")[0].innerText = result.Average_MonthlyScore;
                    $("#lblAvgScore").val(result.Average_MonthlyScore)
                }
            });
        }

        function LoadRecentScore(obj) {
            debugger;
            console.log(obj);
            var id = $("#hdnDashboardModule_id").val();
            var name = $("#hdnDashboardModule_name").val();
            var freq = obj.innerText;
            $.ajax({
                url: "GetRecentScore",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "Module_id": id, "Module_name": name, "freq": freq }),
                success: function (result) {
                    $('#ddlFrequency1')[0].innerText = freq;
                    //$("#lblAvgScore")[0].innerText = result.Average_MonthlyScore;
                    //$("#lblAvgScore").val(result.Average_MonthlyScore)
                }
            });
        }

        
</script>

<style>
    #divMore
    {
        overflow: hidden;
    }

    .colr
    {
        color: #f5f5f5;
    }

    .head-box-1:hover
    {
        cursor: pointer;
    }
</style>


@if (Model != null)
{
    foreach (var m in Model)
    {
        
    <section class="side_left_1 col-xs-7 col-lg-6 col-md-8 col-sm-7">
        <div class="re_top">
            <div class="row" style="margin-bottom: 0;">
                <div class="col-md-12">
                    <div class="au_report">
                        <label>Report Score</label>
                        <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle1 btn-lg" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Monthly
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" onclick="LoadAverageScore(this);">Monthly</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="LoadAverageScore(this);">Daily</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="LoadAverageScore(this);">Weekly</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="LoadAverageScore(this);">Yearly</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="au_percentage">
                        <h2>@Html.Label(m.detail.Average_MonthlyScore, new { @id="lblAvgScore"})% </h2>
                        @*<small>+ @Html.Label(m.detail.relativeScore)%</small>*@
                    </div>
                </div>
                @* <div class="col-md-8 col-sm-6">
                    <div class="au_setting">
                        <a href="#"><i class="fa fa-cog"></i> Settings</a>
                    </div>
                </div>*@
            </div>
        </div>

        <div class="re_top">
            <div class="row" style="margin-bottom: 0;">
                <div class="col-md-12  col-sm-12">
                    <div class="au_report au_recent">
                        <label>Recent Schedule</label>
                        <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle btn-lg" type="button" id="ddlFrequency1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Last Week
                            </button>
                            <ul class="dropdown-menu ddlFrequency" aria-labelledby="ddlFrequency1">
                                <li><a href="#" id="lstmnth" onclick="LoadRecentScore(this);">Last Month</a></li>
                                @*  <li><span>@Html.ActionLink("Last Month", "LastMonthData", new { })</span></li>*@
                                <li role="separator" class="divider"></li>
                                <li><a href="#" id="lstweek" onclick="LoadRecentScore(this);">Last Week</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" id="lstyear" onclick="LoadRecentScore(this);">Last Year</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 nopad">
                    <div class="row" id="divMore">
                        @foreach (var test in m.detail.AuditScores)
                        {                       
                            <div class="col-sm-12">
                                <div class="coupon d-flex justify-content-between">
                                    <div class="kiri col-sm-3 col-md-3 col-lg-3 col-xs-3">
                                        <div class="icon-container_box">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                                        <div class="tengah">
                                            <h3 class="lead">@Html.Label(test.AuditType_name)</h3>
                                            <p>
                                                @if (test.Audit_date == null)
                                                { @Html.Label("null")}
                                                else
                                                { @Html.Label(test.Audit_date)}
                                            </p>
                                            <p>
                                                Location : @if (test.Audit_date == null)
                                                           { @Html.Label("null")}
                                                           else
                                                           { @Html.Label(test.Audit_location)}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                        <div class="block">
                                            <h5>@if (test.Audit_date == null)
                                                { @Html.Label("null")}
                                                else
                                                { 
                                                    if (test.Audit_Score == null)
                                                    { @Html.Label("0")}
                                                    else
                                                    { 
                                                    @Html.Label(test.Audit_Score)
                                                    }
                                            }</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        @*  <div class="col-sm-12">
                    <div class="coupon d-flex justify-content-between">
                        <div class="kiri col-md-3">
                            <div class="icon-container_box1">                                
                            </div>
                        </div>
                        <div class="col-md-7"> 
                        <div class="tengah">                 
                            <h3 class="lead">ISO 9001 - 2015</h3>
                            <p>09/12/2019</p>
                            <p>Location : Benguluru</p>
                        </div>
                    </div>
                        <div class="col-md-2 ">
                            <div class="block1">
                                <h5>54%</h5>
                            </div>
                        </div>
                    </div>
                </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="viewmore">
                                @Html.Hidden("expand")
                                <a href="#">View More <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-5 col-md-6 col-sm-12 nop-990 nopad">
                    <div id="datepicker"></div>
                    <div class="schedule">
                        @*  @Html.ActionLink("Schedule Inspection", "Calendar", "Calendar", null)*@

                        <a href="#">Plan An Audit</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="chartContainer" style="height: 170px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-xs-3 col-lg-3 col-md-3 col-sm-12">
        @* <div class="col-md-12">
            <div class="side_bar">
                <a id="menu-toggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>*@
        <div id="wrapper" class="toggled">
            <div class="side-bar-last">

                <div class="col-md-12">
                    <div class="performance">
                        <h4>Performance History</h4>
                        <p>Updated on @Html.Label(m.detail.Updated_date)</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="count">
                                <p>Total Audits</p>
                                <h2 class="countdown_first">@Html.Label(m.detail.total_Audits)</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="count">
                                <p>Pending Audits</p>
                                <h2 class="countdown_second">@Html.Label(m.detail.PendingAudits)</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="count">
                                <p>Open NC</p>
                                <h2 class="countdown_third">@Html.Label(m.detail.Open_NC)</h2>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="count">
                                <p>Closed NC</p>
                                <h2 class="countdown_fourth">@Html.Label(m.detail.Closed_NC)</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="message-box">
                        <div class="opne_task">
                            <h4>Open Tasks</h4>
                            <p>Updated on @Html.Label(m.detail.Updated_date)</p>
                        </div>
                    </div>
                </div>
                @*<marquee class="marquee ver" data-direction='up' data-duration='1000' data-pauseOnHover="true">*@
                <div class="marquee str4 str_wrap">
                    <div class="content1">
                        @foreach (var task in m.detail.Tasks)
                        { 
                            <div class="col-md-12">
                                <div class="message-box">
                                    @*<div class="opne_task">
                            <h4>Open Tasks</h4>
                            <p>Updated on 09/12/2019</p>
                        </div>*@

                                    <a href="#">
                                        <div class="head-box-1">
                                            <ul class="msg-box list-inline text-left d-inline-block float-left">
                                                @* <li><span>@Html.Label(task.Audit_Type)
                                    </span>*@
                                                <li><span>@Html.ActionLink(task.Audit_Type, "RedirectOpenClose", new { audit_id = task.audit_id }, new { @class = "colr" })</span>
                                                    @*<ul class="flat-icon list-inline text-right pull-right">
                                <li>
                                    <a href="#" id="dset"><i class="fa fa-ellipsis-v"></i></a>
                                    <div id="setting-drop1" class="setting-drop">
                                        <ul class="list-inline">
                                            <li><a href="#">Dummy Content</a> </li>
                                            <li><a href="#">Dummy Content </a></li>
                                            <li><a href="#">Dummy Content </a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>*@
                                                    <br>
                                                    <small class="timee">@Html.Label(task.location_name)</small>
                                                    <br />
                                                    @Html.Label(task.audit_performed_date)</li>
                                            </ul>

                                        </div>
                                    </a>
                                </div>
                            </div>
                  
                        }

                    </div>
                </div>
                @* <div class="col-md-12">
           <div class="message-box">
             <div class="head-box-1">             
               <ul class="msg-box list-inline text-left d-inline-block float-left">
                  <li><span>NS PRIVATE LIMITED </span> <br> <small class="timee"> New Delhi</small> <br/> 18/12/2019</li> 
               </ul>               
               <ul class="flat-icon list-inline text-right d-inline-block float-right">
                  <li> 
                  <a href="#" id="dset1"> <i class="fa fa-ellipsis-v"></i> </a>
                   <div class="setting-drop">
                    <ul class="list-inline"> 
                      <li> <a href="#"> Dummy Content</a> </li>  
                      <li> <a href="#"> Dummy Content </a> </li>
                      <li> <a href="#"> Dummy Content </a> </li>
                     </ul>
                   </div>
                  </li> 
               </ul>
            </div>   
           </div>
         </div>
         <div class="col-md-12">
           <div class="message-box">
             <div class="head-box-1">             
               <ul class="msg-box list-inline text-left d-inline-block float-left">
                  <li><span>NS PRIVATE LIMITED </span> <br> <small class="timee"> New Delhi</small> <br/> 18/12/2019</li> 
               </ul>               
               <ul class="flat-icon list-inline text-right d-inline-block float-right">
                  <li> 
                  <a href="#" id="dset2"> <i class="fa fa-ellipsis-v"></i> </a>
                   <div class="setting-drop">
                    <ul class="list-inline"> 
                      <li> <a href="#"> Dummy Content</a> </li>  
                      <li> <a href="#"> Dummy Content </a> </li>
                      <li> <a href="#"> Dummy Content </a> </li>
                     </ul>
                   </div>
                  </li> 
               </ul>
            </div>   
           </div>
         </div>
         <div class="col-md-12">
           <div class="message-box">
             <div class="head-box-1">             
               <ul class="msg-box list-inline text-left d-inline-block float-left">
                  <li><span>NS PRIVATE LIMITED </span> <br> <small class="timee"> New Delhi</small> <br/> 18/12/2019</li> 
               </ul>               
               <ul class="flat-icon list-inline text-right d-inline-block float-right">
                  <li> 
                  <a href="#" id="dset3"> <i class="fa fa-ellipsis-v"></i> </a>
                   <div class="setting-drop">
                    <ul class="list-inline"> 
                      <li> <a href="#"> Dummy Content</a> </li>  
                      <li> <a href="#"> Dummy Content </a> </li>
                      <li> <a href="#"> Dummy Content </a> </li>
                     </ul>
                   </div>
                  </li> 
               </ul>
            </div>   
           </div>
         </div>*@
            </div>
        </div>
    </section>
                        break;
    }
}