﻿@model List<Audire_POCO.DashboardPOCO>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}
<!-- bootstrap js -->

<script src="~/Content/new_ui/js/jquery.circliful.min.js"></script>
<script src="~/Content/new_ui/js/core.js"></script>
<script src="~/Content/new_ui/js/charts.js"></script>
<script src="~/Content/new_ui/js/material.js"></script>
<script src="~/Content/new_ui/js/animated.js"></script>
<script src="~/Content/new_ui/js/jquery-ui.js"></script>

<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({ minDate: 0 });
        $("#datepicker").focus();
    });


    function LoadDashboard(id,module) {
        var rootUrl = '@Url.Content("~")';
        //$("#hdnDashboardModule_name").val(module);
        $("#myCarousel").load(rootUrl + "Dashboard/DashboardSchedule",
              { Module_id: id, freq: "week" });
        $("#divUpcoming").load(rootUrl + "Dashboard/DashboardPending",
             { Module_id: id, Module:module });
        $("#hdnDashboardModule_id").val(id);
        $('#chart_header')[0].innerText=module;
        LoadChart(id);
    }
	function LoadChart(id)
	{
	$.ajax({
            url: "GetDashboardChart",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": id }),
            success: function (result) {
                debugger;
                // Themes begin
                am4core.useTheme(am4themes_material);
                am4core.useTheme(am4themes_animated);
                // Themes end



                // Create chart instance
                var chart = am4core.create("chartdiv", am4charts.XYChart);
                chart.data = result;
                // Add data
                //chart.data = [{
                //    "date": "2012-03-01",
                //    "price": 20
                //}, {
                //    "date": "2012-03-02",
                //    "price": 75
                //}, {
                //    "date": "2012-03-03",
                //    "price": 15
                //}, {
                //    "date": "2012-03-04",
                //    "price": 75
                //}, {
                //    "date": "2012-03-05",
                //    "price": 158
                //}, {
                //    "date": "2012-03-06",
                //    "price": 57
                //}, {
                //    "date": "2012-03-07",
                //    "price": 107
                //}, {
                //    "date": "2012-03-08",
                //    "price": 89
                //}, {
                //    "date": "2012-03-09",
                //    "price": 75
                //}, {
                //    "date": "2012-03-10",
                //    "price": 132
                //}, {
                //    "date": "2012-03-11",
                //    "price": 380
                //}, {
                //    "date": "2012-03-12",
                //    "price": 56
                //}, {
                //    "date": "2012-03-13",
                //    "price": 169
                //}, {
                //    "date": "2012-03-14",
                //    "price": 24
                //}, {
                //    "date": "2012-03-15",
                //    "price": 147
                //}];

                // Create axes
                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.renderer.grid.template.location = 0;
                dateAxis.renderer.minGridDistance = 50;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.logarithmic = true;
                valueAxis.renderer.minGridDistance = 20;

                // Create series
                var series = chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = "audit_count";
                series.dataFields.dateX = "audit_date";
                series.tensionX = 0.8;
                series.strokeWidth = 3;

                //var bullet = series.bullets.push(new am4charts.CircleBullet());
                //bullet.circle.fill = am4core.color("#fff");
                //bullet.circle.strokeWidth = 3;
                //bullet.label.text="Hello";
                //bullet.label.fonrSize=20;
                var valueLabel = series.bullets.push(new am4charts.LabelBullet());
valueLabel.label.text = "{audit_count}";
//valueLabel.label.fontSize = 20;
                // Add cursor
                chart.cursor = new am4charts.XYCursor();
                chart.cursor.fullWidthLineX = true;
                chart.cursor.xAxis = dateAxis;
                chart.cursor.lineX.strokeWidth = 0;
                chart.cursor.lineX.fill = am4core.color("#000");
                chart.cursor.lineX.fillOpacity = 0.1;

                // Add scrollbar
                chart.scrollbarX = new am4core.Scrollbar();

                // Add a guide
                let range = valueAxis.axisRanges.create();
                range.value = 90.4;
                range.grid.stroke = am4core.color("#396478");
                range.grid.strokeWidth = 1;
                range.grid.strokeOpacity = 1;
                range.grid.strokeDasharray = "3,3";
                range.label.inside = true;
                range.label.text = "Average";
                range.label.fill = range.grid.stroke;
                range.label.verticalCenter = "bottom";
            }
        });
		}
		 am4core.ready(function () {
        var id=$('#ddlmodule').val();
        LoadChart(id);
    }); // end am4core.ready()
	$(document).ready(function () {
        $('#myStat1').circliful();
        $('#myStat11').circliful();
        $('#myStat21').circliful();
        $('#myStat31').circliful();
        $('#myStat2').circliful();
        $('#myStat12').circliful();
        $('#myStat22').circliful();
        $('#myStat32').circliful();
        $('#myStat3').circliful();
        $('#myStat13').circliful();
        $('#myStat23').circliful();
        $('#myStat33').circliful();
        $('#myStat4').circliful();
        $('#myStat14').circliful();
        $('#myStat24').circliful();
        $('#myStat34').circliful();


  $('.carousel').carousel({
            interval: 3000
        })

    });


</script>


<section class="wrapper main-wrapper row">
    @if (Model != null)
    {
        <div class="col-md-12 nopad">
            @foreach (var m in Model)
            {

                <div class="col-md-6 col-lg-3 col-sm-6 col-xl-12">
                    <section class="@m.CssClass.ToString()">

                        <a href="#">
                            <div class="panel-body">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon">
                                            @if (Convert.ToString(m.Module_name).Contains("Compliance"))
                                            {
                                                <img src="~/Content/new_ui/images/compliance.png" alt="">
                                            }
                                            else if (Convert.ToString(m.Module_name).Contains("Process"))
                                            {
                                                <img src="~/Content/new_ui/images/process.png" alt="">
                                            }
                                            else if (Convert.ToString(m.Module_name).Contains("Product"))
                                            {
                                                <img src="~/Content/new_ui/images/product.png" alt="">
                                            }
                                            else
                                            {
                                                <img src="~/Content/new_ui/images/supplier.png" alt="">
                                            }
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">@Html.Label(m.Module_name)</h4>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="summary-footer">
                                        <div class="mn-string">
                                            <div class="mn-hundred">

                                                @*<div class="col-md-3 col-sm-3 col-xs-3 nopad">
            <div id="@String.Concat("myStat",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_MonthlyScore.ToString()" data-info="Monthly" data-width="2" data-fontsize="38" data-percent="11" data-fgcolor="#fcc008" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 nopad">
            <div id="@String.Concat("myStat1",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_QuarterlyScore.ToString()" data-info="Quarterly" data-width="2" data-fontsize="38" data-percent="59" data-fgcolor="#f67435" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 nopad">
            <div id="@String.Concat("myStat2",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_HalfYearlyScore.ToString()" data-info="HalfYearly" data-width="2" data-fontsize="38" data-percent="70" data-fgcolor="#f04358" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 nopad">
            <div id="@String.Concat("myStat3",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_YearlyScore.ToString()" data-info="Yearly" data-width="2" data-fontsize="38" data-percent="90" data-fgcolor="#f91c86" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
        </div>*@

                                                <div class="col-md-3 col-sm-3 col-xs-3 nopad">
                                                
                                                        <div id="@String.Concat("myStat", m.Module_id)" data-dimension="57" data-text="@m.detail.Average_MonthlyScore.ToString()" data-info="Monthly" data-width="2" data-fontsize="38" data-percent="@m.detail.Average_MonthlyScore.ToString().Replace("%","")" data-fgcolor="#fcc008" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                                   
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 nopad">
                                                    <div id="@String.Concat("myStat1",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_QuarterlyScore.ToString()" data-info="Quarterly" data-width="2" data-fontsize="38" data-percent="@m.detail.Average_QuarterlyScore.ToString().Replace("%","")" data-fgcolor="#f67435" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 nopad">
                                                    <div id="@String.Concat("myStat2",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_HalfYearlyScore.ToString()" data-info="HalfYearly" data-width="2" data-fontsize="38" data-percent="@m.detail.Average_HalfYearlyScore.ToString().Replace("%","")" data-fgcolor="#f04358" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                                </div>
                                                <div class="col-md-3 col-sm-3 col-xs-3 nopad">
                                                    <div id="@String.Concat("myStat3",m.Module_id)" data-dimension="57" data-text="@m.detail.Average_YearlyScore.ToString()" data-info="Yearly" data-width="2" data-fontsize="38" data-percent="@m.detail.Average_YearlyScore.ToString().Replace("%","")" data-fgcolor="#f91c86" data-bgcolor="#f5f5f5" data-fill="transparent"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="overlay" onclick="@String.Concat("LoadDashboard(",m.Module_id,",'",m.Module_name,"');")"></div>
                                    <h5 onclick="@String.Concat("LoadDashboard(",m.Module_id,",'",m.Module_name,"');")">VIEW</h5>
                                </div>
                            </div>
                        </a>
                    </section>

                </div>

            }
        </div>


        <div id="divUpcoming">
            @Html.Partial("~/Views/Dashboard/DashboardPending.cshtml", Model)



        </div>

        <div class="col-md-12 nopad">
            <div class="col-lg-6 col-md-12">
                <div class="charts_new">
                    @if (Model != null)
                    {
                        foreach (var m in Model)
                        {
                            <h3>@Html.Label(String.IsNullOrEmpty(Convert.ToString(m.Module_name)) ? "" : m.Module_name, new { id = "chart_header" })</h3>
                            break;
                        }
                    }
                    <hr>
                    <div id="chartdiv"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="charts_new" id="divRecentScore">
                    <h3>Recent Audit</h3>
                    <hr>
                    <div class="col-md-12">
                        <select class="form-control" id="ddlRecent" onchange="LoadRecentScore();">
                            <option>Last Week</option>
                            <option>Last Month</option>
                            <option>Last Year</option>
                        </select>
                        @foreach (var m in Model)
                {

                            @Html.Partial("~/Views/Dashboard/DashboardSchedule.cshtml", m.detail.AuditScores)

                            break;
                        }
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="charts_new charts_new_date">
                    <div id="datepicker"></div>
                </div>
            </div>
        </div>
    }
</section>
