﻿@model List<Audire_POCO.LinePOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}

@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';

    $(document).ready(function () {
        debugger;
        setModule();
        $.ajax({
            url: rootUrl+"PerformAudit/GetDropdownselection",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "",
            success: function (ddlresult) {

                if (ddlresult.region_id != undefined && ddlresult.region_id != '' && ddlresult.region_id != null)
                    $("#ddlRegion").val(ddlresult.region_id);
                var item = $("#ddlRegion").children("option:selected").val();

                $.ajax({
                    url: rootUrl + "PerformAudit/GetCountries",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "region_id": item }),
                    success: function (result) {
                        $("#ddlCountry").html(""); // clear before appending new list
                        $.each(result, function (i, country) {
                            $("#ddlCountry").append(
                                $('<option></option>').val(country.country_id).html(country.country_name));
                        });
                        if (ddlresult.country_id != undefined && ddlresult.country_id != '' && ddlresult.country_id != null)
                            $("#ddlCountry").val(ddlresult.country_id);
                        var country_id = $("#ddlCountry").children("option:selected").val();
                        $.ajax({
                            url: rootUrl + "PerformAudit/GetLocations",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "country_id": country_id }),
                            success: function (result) {
                                $("#ddlLocation").html(""); // clear before appending new list
                                $.each(result, function (i, loc) {
                                    $("#ddlLocation").append(
                                        $('<option></option>').val(loc.location_id).html(loc.location_name));
                                });
                                if (ddlresult.location_id != undefined && ddlresult.location_id != '' && ddlresult.location_id != null)
                                    $("#ddlLocation").val(ddlresult.location_id);
                                LoadCalender();
                            }
                        });

                    }
                });

            }
        });

        //var item = $("#ddlRegion").children("option:selected").val();
        
        //$.ajax({
        //    url: rootUrl + "PerformAudit/GetCountries",
        //    type: 'GET',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: ({ "region_id": item }),
        //    success: function (result) {
        //        $("#ddlCountry").html(""); // clear before appending new list 
        //        $.each(result, function (i, country) {
        //            $("#ddlCountry").append(
        //                $('<option></option>').val(country.country_id).html(country.country_name));
        //        });

        //        var country_id = $("#ddlCountry").children("option:selected").val();
                
        //        $.ajax({
        //            url: rootUrl + "PerformAudit/GetLocations",
        //            type: 'GET',
        //            cache: false,
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            data: ({ "country_id": country_id }),
        //            success: function (result) {
        //                $("#ddlLocation").html(""); // clear before appending new list 
        //                $.each(result, function (i, loc) {
        //                    $("#ddlLocation").append(
        //                        $('<option></option>').val(loc.location_id).html(loc.location_name));
        //                });
        //                LoadCalender();
        //            }
        //        });

        //    }
        //});


        $('#ddlRegion').change(function (event) {
            
            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: rootUrl + "PerformAudit/GetCountries",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "region_id": item }),
                success: function (result) {
                    $("#ddlCountry").html(""); // clear before appending new list 
                    $("#ddlLocation").html(""); // clear before appending new list 
                    $.each(result, function (i, country) {
                        $("#ddlCountry").append(
                            $('<option></option>').val(country.country_id).html(country.country_name));
                    });
                    var country_id = $('#ddlCountry').children("option:selected").val();
                    $.ajax({
                        url: rootUrl + "PerformAudit/GetLocations",
                        type: 'GET',
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ({ "country_id": country_id }),
                        success: function (result) {
                          
                            $.each(result, function (i, location) {
                                $("#ddlLocation").append(
                                    $('<option></option>').val(location.location_id).html(location.location_name));
                            });

                            LoadCalender();
                        }
                    });
                }
            });



        });
        $('#ddlCountry').change(function (event) {
            
            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: rootUrl + "PerformAudit/GetLocations",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "country_id": item }),
                success: function (result) {
                    $("#ddlLocation").html(""); // clear before appending new list 
                    $.each(result, function (i, location) {
                        $("#ddlLocation").append(
                            $('<option></option>').val(location.location_id).html(location.location_name));
                    });
                    LoadCalender();
                }
            });
        });
        $('#ddlLocation').change(function (event) {
            
            LoadCalender();
        });
    });
    function LoadCalender() {
        debugger;
        var loc = $('#ddlLocation').val();
        var module = $('#ddlmodule').val();

        //$.ajax({
        //    url: rootUrl + "GetEvents",
        //    type: 'POST',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: { "location": loc, "module_id": module },
        //    success: function (events) {
        //        $('#calendar').fullCalendar('removeEventSource', events);
        //        $('#calendar').fullCalendar('addEventSource', events);
        //        $('#calendar').fullCalendar('refetchEvents');
        //    }
        //});

        var events = {
            url: rootUrl + 'Calendar/GetEvents',
            type: 'POST',
            data: { location: loc, module_id: module }
        }
        $('#calendar').fullCalendar('removeEventSource', events);
        $('#calendar').fullCalendar('addEventSource', events);
        $('#calendar').fullCalendar('refetchEvents');
    }

</script>

<style>
    .search-sec label {
        color: #000;
    }
    .ui-front{
        z-index:99999!important;
    }
    .main-page
    {
        width: 100%;
    }

    .bs-example
    {
        margin-top: 1em;
        /*height: 120px;*/
    }

    .filter_panel
    {
        background-color: #CDEAD2;
        padding: 10px;
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        border-radius: 5px !important;
        float: left;
        width: 100%;
    }

    .filter_label p
    {
        margin: 15px 0 0 0;
    }

    .backgroundcolor
    {
        background-color: #AFEEEE;
    }

    .qr-title
    {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .qr-title1
    {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .jqbox
    {
        padding: 0;
        height: 34px !important;
        border-radius: 5px;
        border: solid 1px #ccc;
    }
</style>

@using (Html.BeginForm())
{       
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-md-12 nopad">
        <ul class="breadcrumb">
            <li class="completed"><a href="#" class="btn btn-primary"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="#" class="btn btn-info">Audit</a></li>
            <li><a href="#" class="btn">Calendar</a></li>
        </ul>
    </div>
        <div class="add_new_user">
            <div class="col-lg-12">
                <section class="search-sec" id="text_field">
                    <form action="#" method="post" novalidate="novalidate">
                        <div class="col-lg-12 nopad">
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <label>Region Name</label>
                                @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })
                               
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <label>Country </label>
                                @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                                
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <label>Location </label>
                                @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                               
                            </div>

                        </div>

                    </form>
                </section>
            </div>
        </div>
            <div class="data_user">
                <section class="wrapper main-wrapper row">

                    <div class="col-md-12 nopad">
                        <div class="col-md-12">
                            <div id="ViewPart">
                                @Html.Partial("~/Views/Calendar/DisplayCalendar.cshtml", Model)
                            </div>
                        </div>
                    </div>

                </section>
            </div>
    @*<div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <h5 class="title1"><a href="#">Audit</a> / Calendar</h5>
                <div class="col-md-12 nopad">
                    <div class="red">
                        <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                            @{var value = TempData["calendarmessage"] as string;}
                            @if (value != null)
                            {
                                <p>@value.ToString()</p>
                            }
                        </div>
                    </div>
                    <div class="bs-example widget-shadow backgroundcolor" data-example-id="bordered-table">
                        <div class="row">
                        <div class="col-lg-2 col-md-6">
                            <p>Region Name : </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control aud-control", id = "ddlRegion" })
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <p>Country : </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control aud-control", id = "ddlCountry" })
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <p>Location : </p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control aud-control", id = "ddlLocation" })
                        </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <br />
                    <div id="ViewPart">
                        @Html.Partial("~/Views/Calendar/DisplayCalendar.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>*@

}