﻿@using Audire_MVC.Utilities
@{
    ViewBag.Title = "PlanCalendar";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}

<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';

    $(document).ready(function () {
        debugger;
        setModule();
        $("#txtPlannedStartDate").datepicker({
            //showOn: "both",
            //buttonImageOnly: true,
            //buttonText: "",
            //changeYear: true,
            //changeMonth: true,
            //yearRange: "c-20:c+50",
            //minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl + "Content/images/calendar-icon.png",
        });
        $("#txtPlannedEndDate").datepicker({
            //showOn: "both",
            //buttonImageOnly: true,
            //buttonText: "",
            //changeYear: true,
            //changeMonth: true,
            //yearRange: "c-20:c+50",
            // minDate: new Date(),
            dateFormat: 'dd-mm-yy',
            //buttonImage: rootUrl + "Content/images/calendar-icon.png"
        });
        $.ajax({
            url: rootUrl+"PerformAudit/GetDropdownselection",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "",
            success: function (ddlresult) {

                if (ddlresult.region_id != undefined && ddlresult.region_id != '' && ddlresult.region_id != null)
                    $("#ddlRegion").val(ddlresult.region_id);
                var item = $("#ddlRegion").children("option:selected").val();

                $.ajax({
                    url: rootUrl + "PerformAudit/GetCountries",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "region_id": item }),
                    success: function (result) {
                        $("#ddlCountry").html(""); // clear before appending new list
                        $.each(result, function (i, country) {
                            $("#ddlCountry").append(
                                $('<option></option>').val(country.country_id).html(country.country_name));
                        });
                        if (ddlresult.country_id != undefined && ddlresult.country_id != '' && ddlresult.country_id != null)
                            $("#ddlCountry").val(ddlresult.country_id);
                        var country_id = $("#ddlCountry").children("option:selected").val();
                        $.ajax({
                            url: rootUrl + "PerformAudit/GetLocations",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "country_id": country_id }),
                            success: function (result) {
                                $("#ddlLocation").html(""); // clear before appending new list
                                $.each(result, function (i, loc) {
                                    $("#ddlLocation").append(
                                        $('<option></option>').val(loc.location_id).html(loc.location_name));
                                });
                                if (ddlresult.location_id != undefined && ddlresult.location_id != '' && ddlresult.location_id != null)
                                    $("#ddlLocation").val(ddlresult.location_id);
                                debugger;
                                LoadCalender();
                                var item = $("#ddlmodule").val();
                                $("#ddlplanmodule").val(item);
                                LoadAuditType(item);
                            }
                        });

                    }
                });

            }
        });
        $("#plan_a").click(function () {
            $(".plan_audit_drop").toggle();
            $("#plan_a").hide();

        });
        $("#datepicker").datepicker();

        $('#ddlRegion').change(function (event) {

            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: rootUrl + "PerformAudit/GetCountries",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "region_id": item }),
                success: function (result) {
                    $("#ddlCountry").html(""); // clear before appending new list
                    $("#ddlLocation").html(""); // clear before appending new list
                    $.each(result, function (i, country) {
                        $("#ddlCountry").append(
                            $('<option></option>').val(country.country_id).html(country.country_name));
                    });
                    var country_id = $('#ddlCountry').children("option:selected").val();
                    $.ajax({
                        url: rootUrl + "PerformAudit/GetLocations",
                        type: 'GET',
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ({ "country_id": country_id }),
                        success: function (result) {

                            $.each(result, function (i, location) {
                                $("#ddlLocation").append(
                                    $('<option></option>').val(location.location_id).html(location.location_name));
                            });
                            debugger;
                            LoadCalender();
                        }
                    });
                }
            });



        });
        $('#ddlCountry').change(function (event) {

            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: rootUrl + "PerformAudit/GetLocations",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "country_id": item }),
                success: function (result) {
                    $("#ddlLocation").html(""); // clear before appending new list
                    $.each(result, function (i, location) {
                        $("#ddlLocation").append(
                            $('<option></option>').val(location.location_id).html(location.location_name));
                    });
                    debugger;
                    LoadCalender();
                }
            });
        });
        $('#ddlLocation').change(function (event) {
            debugger;
            LoadCalender();
        });
        $('#ddlmodule').change(function (event) {
            var item = $("#ddlmodule").val();
            $("#ddlplanmodule").val(item);
            LoadAuditType(item);
            debugger;
            LoadCalender();
        });

        $('#ddlplanmodule').change(function (event) {

            var item = $("#ddlplanmodule").children("option:selected").val();
            LoadAuditType(item);
           
        });
    });
    $("#plan_a").click(function () {
        $(".plan_audit_drop").toggle();
        $("#plan_a").hide();

    });

    function ValidateControl() {
        var output = 0;
        if (isEmpty($('#ddlusers').val())) {
            $('#ddlusers').css("border", "1px solid red");
            output += 1;
        }
        else
        {
            $('#ddlusers').css("border", "");
        }
       
        if (isEmpty($('#txtPlannedStartDate').val())) {
            $('#txtPlannedStartDate').css("border", "1px solid red");
            output += 1;
        } else {
            $('#txtPlannedStartDate').css("border", "");
        }
        if (isEmpty($('#txtPlannedEndDate').val())) {
            $('#txtPlannedEndDate').css("border", "1px solid red");
            output += 1;
        } else {
            $('#txtPlannedEndDate').css("border", "");
        }
        if (isEmpty($('#ddlLocation').val())) {
            $('#ddlLocation').css("border", "1px solid red");
            output += 1;
        } else {
            $('#ddlLocation').css("border", "");
        }
        if (isEmpty($('#ddlplanmodule').val())) {
            $('#ddlplanmodule').css("border", "1px solid red");
            output += 1;
        } else {
            $('#ddlplanmodule').css("border", "");
        }
        if (isEmpty($('#ddlAudit_Type').val())) {
            $('#ddlAudit_Type').css("border", "1px solid red");
            output += 1;
        } else {
            $('#ddlAudit_Type').css("border", "");
        }
        if (isEmpty($('#txtNote').val())) {
            $('#txtNote').css("border", "1px solid red");
            output += 1;
        } else {
            $('#txtNote').css("border", "");
        }
        if (output > 0)
            return false;
        else if (!validateDate()) {
            // $('#lblmsg').text("Please fill the fields marked in red.");
            return false;
        }
        else
            return true;
    }
    function LoadCalender() {
        debugger;

        var module_id = $('#ddlmodule').val();
        var location_id = $('#ddlLocation').val();

        $.ajax({
            url: rootUrl + "Calendar/GetEmployeess",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "location_id": location_id }),
            success: function (result) {
                $("#ddlusers").html(""); // clear before appending new list
                $.each(result, function (i, location) {
                    $("#ddlusers").append(
                        $('<option></option>').val(location.user_id).html(location.emp_full_name));
                });
            }
        });

        $("#viewPlanConsolidated").load(rootUrl + "Calendar/PlanConsolidated",
       { module_id: module_id, location_id: location_id });
        $('#viewPlanDetails').load(rootUrl + "Calendar/PlanDetails",
       { module_id: module_id, location_id: location_id });

    }
    function LoadAuditType(item)
    {
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": item }),
            success: function (result) {
                $("#ddlAudit_Type").html(""); // clear before appending new list
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
    }
    function SavePlan()
    {
        if (ValidateControl()) {
            var module = $('#ddlplanmodule').val();
            var plan_id = $('#hdnPlanId').val();
            var user_id = $('#ddlusers').val();
            var start_date = $('#txtPlannedStartDate').val();
            var end_date = $('#txtPlannedEndDate').val();
            var location = $('#ddlLocation').val();
            var audit_type = $('#ddlAudit_Type').val()
            var audit_note = $('#txtNote').val();
            var commonParam = {
                "audit_plan_id": plan_id,
                "user_id": user_id,
                "planned_date": start_date,
                "planned_end_date": end_date,
                "location": location,
                "module_id": module,
                "audit_type_id": audit_type,
                "audit_note": audit_note
            }
            var param = "{obj:" + JSON.stringify(commonParam) + "}";

            $.ajax({
                url: "SavePlan",
                type: 'POST',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: param,
                success: function (msg) {
                    alert(msg.err_msg);
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Error");
                }
            });
        }
    }
    function CancelPlan()
    {
        $('#ddlplanmodule').val("");
        $('#ddlplanmodule').css("border", "");
        $('#ddlusers').val("");
        $('#ddlusers').css("border", "");
        $('#txtPlannedStartDate').val("");
        $('#txtPlannedStartDate').css("border", "");
        $('#txtPlannedEndDate').val("");
        $('#txtPlannedEndDate').css("border", "");
        
        $('#ddlAudit_Type').val("");
        $('#ddlAudit_Type').css("border", "");
        $('#txtNote').val("");
        $('#txtNote').css("border", "");
        $(".plan_audit_drop").hide();
        $("#plan_a").show();
    }
    function validateDate() {
        debugger;
        if (!(isEmpty($('#txtPlannedStartDate').val())) && !(isEmpty($('#txtPlannedEndDate').val()))) {

            var selecteddate = $('#txtPlannedStartDate').val();
            var todaydate = new Date();
            var dd = String(todaydate.getDate()).padStart(2, '0');
            var mm = String(todaydate.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = todaydate.getFullYear();

            todaydate = dd + '-' + mm + '-' + yyyy;
            if (selecteddate < todaydate) {
                //$('#lblmsg').text("selected date should be greater than today's date.");
                $("#dialogid").text('selected date should be greater than todays date.');
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });
                return false;
            }

            var selectedStartText = document.getElementById('txtPlannedStartDate').value;
            var selectedStartText = selectedStartText.substring(0, 10);
            //var selectedStartText = new Date(selectedStartText);
            var selectedEndText = document.getElementById('txtPlannedEndDate').value;
            var selectedEndText = selectedEndText.substring(0, 10);
            //var selectedEndText = new Date(selectedEndText);
            var dt1  = parseInt(selectedStartText.substring(0, 2), 10);
            var mon1 = parseInt(selectedStartText.substring(3, 5), 10);
            var yr1 = parseInt(selectedStartText.substring(6, 10), 10);
            var dt2  = parseInt(selectedEndText.substring(0, 2), 10);
            var mon2 = parseInt(selectedEndText.substring(3, 5), 10);
            var yr2 = parseInt(selectedEndText.substring(6, 10), 10);

            //var date1 = new Date(yr1, mon1, dt1);
            //var date2 = new Date(yr2, mon2, dt2);
            var date1 = new Date(mon1 + "/" + dt1 + "/" + yr1);
            var date2 = new Date(mon2 + "/" + dt2 + "/" + yr2)
            if (date2 < date1) {
                //$('#lblmsg').text("End date should not be lesser than start date.");
                $("#dialogid").text('End date should not be lesser than start date.');
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });

                return false;
            }
            else {
                $('#lblmsg').text("");
                return true;
            }
        }
    }
    </script>
<div class="col-md-12 nopad">
    <div class="bread_user">
        <div id="dialog">
            <p id="dialogid">

            </p>
        </div>
        <div class="col-md-3">
            <h2>Calendar</h2>

        </div>
        <div class="col-md-9">
            <div class="col-lg-12 nopad mn_top">
                <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                    @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                    @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                    @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data_user">
    <section class="wrapper main-wrapper row">

        <div class="col-md-12 nopad">
            <div class="col-md-4">
                <div class="col-md-12 mn_date nopad">
                    <div id="datepicker"></div>
                </div>
                <div class="col-md-12 nopad" id="viewPlanConsolidated">
                  
                </div>

            </div>
            <div class="col-md-8">
                <div class="col-md-12 nopad plan_audit" style="@(((Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Admin))) || (Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Create))) || (Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Update)))) ? "display:block;" : "display:none;")">
                    
                        <a href="#" id="plan_a">+ Plan an Audit</a>
</div>
                <div class="col-md-12 nopad">
                    <div class="plan_audit_drop">
                        <h2>Plan An Audit</h2>
                        <div class="col-md-12 nopad">
                            <div class="col-md-6">
                                <label>Start Date</label>
                                @Html.TextBox("txtPlannedStartDate", "", new { @class = "form-control search-slt" })
                            </div>
                            <div class="col-md-6">
                                <label>End Date</label>
                                @Html.TextBox("txtPlannedEndDate", "", new { @class = "form-control search-slt" })
                            </div>
                            <div class="col-md-6">
                                <label>Audit Type</label>
                                @Html.DropDownList("module", (CommonDropdowns.GetModuleListAsPerUser()), new { @class = "form-control search-slt", id = "ddlplanmodule" })
                            </div>
                            <div class="col-md-6">
                                <label>Audit Sub-Type</label>
                                @*@Html.DropDownList("audit_type", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })*@
                                @Html.DropDownList("audit_type", (CommonDropdowns.GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                            </div>
                            <div class="col-md-12">
                                <label>Auditor Name</label>
                                @Html.DropDownList("employee", (new CommonDropdowns().GetUserList()), new { @class = "form-control search-slt", id = "ddlusers", @maxlength = "50" })
                            </div>
                            <div class="col-md-12">
                                <label>Note <small>(Max 25 Words)</small></label>
                                @Html.TextArea("txtNote", new { @class = "form-control search-slt", id = "txtNote", maxlength="500" })
                                @Html.Hidden("hdnPlanId")
                                <label id="lblmsg" style="color: red;"></label>
                            </div>
                                <div class="col-md-6 cal_save">
                                    <a href="#" onclick="SavePlan();">SAVE</a>
                                </div>
                                <div class="col-md-6 cal_save">
                                    <a href="#" onclick="CancelPlan();">CANCEL</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 nopad" id="viewPlanDetails">
                   
                </div>
            </div>
        </div>
    </section>
</div>