﻿@model List<Audire_MVC.Models.CalendarEvent>




@if (Model != null)
{
    foreach (var m in Model)
    {
<div class="plan_audit_1">
    <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
        <div class="info-block block-info clearfix">
            <div class="@(Convert.ToInt32(m.Audit_Status)==1 ? "square-box square-box1 pull-left": (Convert.ToInt32(m.Audit_Status)==0 ? "square-box pull-left":"square-box square-box2 pull-left"))"
                 >
                <h1>@m.planned_day</h1>
            </div>
            <h5>@m.planned_date</h5>
            <p>Until @m.planned_end_date</p>
        </div>
    </div>
    <div class="col-md-6 item_2">
        <div class="col-md-12 nopad">
            <p>@m.Audit_note</p>
        </div>
        <div class="col-md-12 nopad top">
            <div class=" block-info clearfix">
                <div class="square-box pull-left">
                    <h2>@m.AuditType_Code</h2>
                </div>
                <p><strong>@m.location_name</strong></p>
                <p><strong>@m.Emp_name</strong></p> 
            </div>
        </div>
    </div>
</div>
@*<div class="plan_audit_1">
    <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
        <div class="info-block block-info clearfix">
            <div class="square-box pull-left">
                <h1>09</h1>
            </div>
            <h5>December 2016</h5>
            <p>Until 18/12/2016</p>
        </div>
    </div>
    <div class="col-md-6 item_2">
        <div class="col-md-12 nopad">
            <p>This is a sample note that can be given to auditor</p>
        </div>
        <div class="col-md-12 nopad top">
            <div class=" block-info clearfix">
                <div class="square-box pull-left">
                    <h2>PR</h2>
                </div>
                <p><strong>Mysore</strong></p>
                <p><strong>Nithin Gangadhar</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="plan_audit_1">
    <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
        <div class="info-block block-info clearfix">
            <div class="square-box square-box1 pull-left">
                <h1>12</h1>
            </div>
            <h5>December 2016</h5>
            <p>Until 18/12/2016</p>
        </div>
    </div>
    <div class="col-md-6 item_2">
        <div class="col-md-12 nopad">
            <p>This is a sample note that can be given to auditor</p>
        </div>
        <div class="col-md-12 nopad top">
            <div class=" block-info clearfix">
                <div class="square-box pull-left">
                    <h2>PA</h2>
                </div>
                <p><strong>Mysore</strong></p>
                <p><strong>Nithin Gangadhar</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="plan_audit_1">
    <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
        <div class="info-block block-info clearfix">
            <div class="square-box square-box2 pull-left">
                <h1>9</h1>
            </div>
            <h5>December 2016</h5>
            <p>Until 18/12/2016</p>
        </div>
    </div>
    <div class="col-md-6 item_2">
        <div class="col-md-12 nopad">
            <p>This is a sample note that can be given to auditor</p>
        </div>
        <div class="col-md-12 nopad top">
            <div class=" block-info clearfix">
                <div class="square-box pull-left">
                    <h2>PA</h2>
                </div>
                <p><strong>Mysore</strong></p>
                <p><strong>Nithin Gangadhar</strong></p>
            </div>
        </div>
    </div>
</div>*@
    }
}