﻿@model List<Audire_POCO.PlanRatePOCO>

<style>
    .green {
            color: #2de083!important;
    }
    .red{
            color: #ff615c!important;
    }
</style>

@if (Model != null)
{
    foreach (var m in Model)
    {
<div class="@(Convert.ToDouble(m.TotalPlanRate)>0.0 ? "bs-calltoaction bs-calltoaction-default" : "bs-calltoaction bs-calltoaction_1 bs-calltoaction-default")">
    <div class="row">
        <div class="col-md-7 cta-contents">
            <div class="cta-desc">
                <p><small>Total Planned Tasks</small></p>
                <h4  class="@(Convert.ToDouble(m.TotalPlanRate)>0.0 ? "green" : "red")"><i class="@(Convert.ToDouble(m.TotalPlanRate)>0.0 ? "fa fa-long-arrow-up" : "fa fa-long-arrow-down")" aria-hidden="true"></i> @m.TotalPlanRate %</h4>
                <p><small>31 Days Ago</small></p>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <h1>@m.TotalPlan</h1>
            <p>Total Tasks Planned</p>
        </div>
    </div>
</div>
<div  class="@(Convert.ToDouble(m.TotalCompletedRate)>0.0 ? "bs-calltoaction bs-calltoaction-default" : "bs-calltoaction bs-calltoaction_1 bs-calltoaction-default")">
    <div class="row">
        <div class="col-md-7 cta-contents">
            <div class="cta-desc">
                <p><small>Total Completed Tasks</small></p>
                <h5 class="@(Convert.ToDouble(m.TotalCompletedRate)>0.0 ? "green" : "red")" ><i class="@(Convert.ToDouble(m.TotalCompletedRate)>0.0 ? "fa fa-long-arrow-up" : "fa fa-long-arrow-down")" aria-hidden="true"></i> @m.TotalCompletedRate %</h5>
                <p><small>31 Days Ago</small></p>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <h1>@m.TotalPlanCompleted</h1>
            <p>Total Tasks Completed</p>
        </div>
    </div>
</div>
    }
}