﻿
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, IE=11,IE=10, IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/new_ui/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/new_ui/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/new_ui/css/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="~/Content/new_ui/js/jquery-1.12.1.min.js"></script>
    <script src="~/Content/new_ui/js/bootstrap.js"></script>
    <script src="~/Content/new_ui/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/new_ui/js/dataTables.bootstrap.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <script type="text/javascript">
        var rootUrl = '@Url.Content("~")';
        var module_id = 2;
        $(function () {
            var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
            //$('#resetpassword').click(function (e) {
            //    span3
            //    e.preventDefault();
            //    $("#main-content").append(appendthis);
            //    $(".modal-overlay").fadeTo(500, 0.7);
            //    $('#divResetpwd').fadeIn($(this).data());
            //});
            //$(".js-modal-close, .modal-overlay").click(function () {

            //    $(".modal-box, .modal-overlay").fadeOut(500, function () {
            //        $(".modal-overlay").remove();
            //    });

            //});
            $(window).resize(function () {

                $(".modal-box").css({
                    top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                    left: ($(window).width() - $(".modal-box").outerWidth()) / 2
                });
            });

            $(window).resize();


        });
        function ResetPopup(e) {

            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            $('#dialog').fadeIn($(this).data());
        }
        function Resetpassword() {

            var rootUrl = '@Url.Content("~")';
            if (isEmpty($('#txtoldPassword').val())) {
                $('#txtoldPassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtoldPassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if (isEmpty($('#txtnewPassword').val())) {
                $('#txtnewPassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtnewPassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if (isEmpty($('#txtretypePassword').val())) {
                $('#txtretypePassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Please fill all mandatory fields.");
                return false;
            }
            else {
                $('#txtretypePassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
            }
            if ($('#txtnewPassword').val() == $('#txtretypePassword').val()) {
                $('#txtretypePassword').css("border", "1px solid #ccc");
                $('#lblErrorMsg').text("");
                var old = $('#txtoldPassword').val();
                var newp = $('#txtnewPassword').val();
                var param = "{oldPassword:'" + old + "', newPassword:'" + newp + "'}";
                $.ajax({
                    url: rootUrl + "User/ResetPassword",
                    type: "POST",
                    data: param,
                    // data: ({ "UserName": item, "UserId": id }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {

                        if (msg.err_code == 250) {

                            $("#lblErrorMsg").text(msg.err_msg);
                        }
                        else {
                            alert(msg.err_msg);
                            if (msg.err_msg = "Password is updated successfully.") {
                                $(".modal-box, .modal-overlay").fadeOut(500, function () {
                                    $(".modal-overlay").remove();
                                });
                                $('#txtoldPassword').val("");
                                $('#txtnewPassword').val("");
                                $('#txtretypePassword').val("");
                            }
                        }
                    }
                });
            }
            else {
                $('#txtretypePassword').css("border", "1px solid red");
                $('#lblErrorMsg').text("Password Mismatch.");
                return false;
            }
        }

        function isEmpty(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }

        function setModule() {

            var module_id = '@Request.RequestContext.HttpContext.Session["module"]';
            var len = $('#ddlmodule')[0].length;
            if (module_id != 0 && module_id != null) {
                for (var i = 0; i < len; i++) {
                    if ($('#ddlmodule')[0].options[i].value == module_id) {
                        $('#ddlmodule')[0].options[i].selected = true;
                    }
                }
            }
            //$.ajax({
            //    url: rootUrl + "PerformAudit/GetModuleSession",
            //    type: 'GET',
            //    cache: false,
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "json",
            //    //data: ({ "module": item }),
            //    success: function (result) {
            //
            //        console.log("session");
            //        console.log(result);
            //        if (result != null) {
            //            var module_id = result.module_id;
            //            if (module_id != 0 && module_id != null) {
            //                for (var i = 0; i < 3; i++) {
            //                    if ($('#ddlmodule')[0].options[i].value == module_id) {
            //                        $('#ddlmodule')[0].options[i].selected = true;
            //                    }
            //                }
            //            }
            //        }
            //    }
            //});
        }

        $(document).ready(function () {

            setModule();
            $('#ddlmodule').on("change", function (event) {
                var args = event.args;
                var item = $(this).children("option:selected").val();
                //sessionStorage.setItem("Module", item);
                $.ajax({
                    url: rootUrl + "PerformAudit/SetModuleSession",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "module": item }),
                    success: function (result) {

                        console.log("session");
                        console.log(result);
                        sessionStorage.setItem("module", item);
                        //  var id = sessionStorage.getItem("active_id");
                        //if (id == "aReport") {
                        //
                        //    $('#datatable').dataTable().fnClearTable();
                        //    $('#datatable').dataTable().fnDestroy();
                        //    var url = '/Report/AuditReport/';
                        //    $.ajax({
                        //        url: url,
                        //        data: {}, //parameters go here in object literal form
                        //        type: 'GET',
                        //        datatype: 'json',
                        //        success: function (data) { $('#datatable').dataTable(); },
                        //        error: function () { }
                        //    });
                        //}
                        //else
                        //if (id == "aCAPA") {
                        //
                        //    var url = '/CAPA/CAPAReport/';
                        //    $.ajax({
                        //        url: url,
                        //        data: {}, //parameters go here in object literal form
                        //        type: 'GET',
                        //        datatype: 'json',
                        //        success: function (data) { },
                        //        error: function () { }
                        //    });
                        //}
                    }
                });

            });

        })
        var value = '@Request.RequestContext.HttpContext.Session["global_admin"]';

        if (value == 'Y') {
            $("#listsetup").show();

        }
        else {
            $("#listsetup").hide();

        }
        $('#lstmodule').change(function () {
            alert('x');
        });


        function divActive(e) {

            var id = e.id;
            //var sp_hd1 = $('#' + id).find('span')[0].innerText;
            //var sp_hd = $('#' + id).parent().parent().parent().find('span')[0].innerText;
            sessionStorage.setItem("active_id", id);
            //if (id != "aDashboard") {
            //    $('#breadcrumb').show();
            //    $('#sp_hd').innerText = sp_hd;
            //    $('#sp_hd1').innerText = sp_hd1;
            //}

        }

    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            var id = sessionStorage.getItem("active_id");
            if (id == "aDashboard") {
                $("#lstDashboard").addClass("active");
                $("#lstSetup").removeClass("active");
                $("#lstAudit").removeClass("active");
                $("#lstReport").removeClass("active");
            }
            else if (id == "aRole" || id == "aUser" || id == "aLocation" || id == "aQR" || id == "aQuestion") {
                $("#lstSetup").addClass("active");
                $("#lstDashboard").removeClass("active");
                $("#lstAudit").removeClass("active");
                $("#lstReport").removeClass("active");
            }
            else if (id == "aCalendar" || id == "aAudit" || id == "aNCStatus" || id == "aCAPA" || id == "aCAPAStatus") {
                $("#lstSetup").removeClass("active");
                $("#lstDashboard").removeClass("active");
                $("#lstAudit").addClass("active");
                $("#lstReport").removeClass("active");
            }
            else if (id == "aReport") {
                $("#lstSetup").removeClass("active");
                $("#lstDashboard").removeClass("active");
                $("#lstAudit").removeClass("active");
                $("#lstReport").addClass("active");
            }
            $('#menu_icon').click(function () {
                if ($('.page-sidebar').hasClass('expandit')) {
                    $('.page-sidebar').addClass('collapseit');
                    $('.page-sidebar').removeClass('expandit');
                    $('.profile-info').addClass('short-profile');
                    $('.logo-area').addClass('logo-icon');
                    $('#main-content').addClass('sidebar_shift');
                    $('.menu-title').css("display", "none");
                    $('.logo_img').css("display", "none");
                    $('.mobile_img').css("display", "initial");
                } else {
                    $('.page-sidebar').addClass('expandit');
                    $('.page-sidebar').removeClass('collapseit');
                    $('.profile-info').removeClass('short-profile');
                    $('.logo-area').removeClass('logo-icon');
                    $('#main-content').removeClass('sidebar_shift');
                    $('.menu-title').css("display", "inline-block");
                    $('.logo_img').css("display", "initial");
                    $('.mobile_img').css("display", "none");
                }
            });

            var dropdown = document.getElementsByClassName('dropdown');
            var i = 0;
            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].onclick = function () {
                    this.classList.toggle('active');
                }
            }

        });



    </script>

    <style>
        /*.modal-box {
            display: none;
            position: absolute;
            z-index: 1000;
            width: 60%;
            background: #fff;
            left: 180px !important;
            border: #111111 8px solid;
        }

        .btn-save {
            float: right;
            background: #f74476;
            border-radius: 5px;
            padding: 5px 10px;
            color: #fff;
            margin: 0 10px 10px 10px;
        }*/
    </style>
</head>
<body>
    <div class="page-sidebar expandit">
        <div class="sidebar-inner" id="main-menu-wrapper">
            <ul class="leftMenuList">
                <li class="mn_brdr">
                    <a href="index_2.html">
                        <span class="logo_img">
                            <img src="~/Content/new_ui/images/logo.png" alt="">
                        </span>
                        <span class="menu-title">
                            <img src="~/Content/new_ui/images/logo_1.png" alt="">
                        </span>
                        <p class="mobile_img"><img src="~/Content/new_ui/images/logo_2.png"></p>
                    </a>
                </li>

                @*<li id="lstDashboard" class="active"><a id="adashboard" href="@Url.Action("Dashboard", "Dashboard", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>*@
                <li id="lstSetup" style="@((Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains( Convert.ToInt32(Resources.ConstantValues.Admin))) ? "display:block;" : "display:none;")">
                    @*@(Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(1)?"display:block;":style="display:none;">*@
                    <a href="#" class="dropdown" title="Setup"><i class="fa fa-cog" aria-hidden="true"></i><span>Setup</span> </a>
                    <ul class="dropdownlist">
                        <li><a title="Role" id="aRole" href="@Url.Action("Role", "Role", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-cogs"></i> <span>Role</span></a></li>
                        <li><a title="User" id="aUser" href="@Url.Action("Users", "User", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-users"></i><span>Users</span></a></li>
                        <li><a title="Location" id="aLocation" href="@Url.Action("Location", "Location", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-map"></i><span>Location</span></a></li>
                        <li><a title="BulkQRDetails" id="aQR" href="@Url.Action("BulkQRDetails", "BulkQRDetails", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-file"></i><span>BulkQRDetails</span></a></li>
                        <li><a title="Questions" id="aQuestion" href="@Url.Action("Questions", "Questions", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-question"></i><span>Questions</span></a></li>
                    </ul>
                </li>
                @*<li id="lstAudit">
                    <a href="#" class="dropdown" title="Audit"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>Audit</span></a>
                    <ul class="dropdownlist">
                        <li><a title="Calendar" id="aCalendar" href="@Url.Action("PlanCalendar", "Calendar", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
                        <li><a title="Perform Audit" id="aAudit" href="@Url.Action("PerformAudit", "PerformAudit", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-file-text-o"></i><span>PerformAudit</span></a></li>
                        <li style="@(((Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Admin))) || (Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Create))) || (Convert.ToString(Session["Permissions"]).Split(',').Select(int.Parse).ToList().Contains(Convert.ToInt32(Resources.ConstantValues.Update)))) ? "display:block;" : "display:none;")"><a title="CAPA Status" id="aCAPAStatus" href="@Url.Action("CloseOpenTask", "CloseOpenTask", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-file-text"></i><span>CAPA Status</span></a></li>
                        <li><a title="NC Status" id="aNCStatus" href="@Url.Action("NCStatus", "Status", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-file-text"></i><span>NC Status</span></a></li>
                        <li><a title="CAPA" id="aCAPA" href="@Url.Action("CAPAReport", "CAPA", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-file" aria-hidden="true"></i><span>CAPA</span></a></li>
                    </ul>
                </li>*@
                @*<li id="lstReport">
                    <a href="#" class="dropdown" title="Reports"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Reports</span></a>
                    <ul class="dropdownlist">
                        <li><a title="AuditReport" id="aReport" href="@Url.Action("AuditReport", "Report", new { @class = "" })" onclick="divActive(this);"><i class="fa fa-area-chart" aria-hidden="true"></i><span>Audit Report Download</span></a></li>
                    </ul>
                </li>*@
            </ul>
            <hr>
            <ul>
                <li class="au_none"><a title="Settings" href="#"><img src="~/Content/new_ui/images/sett.png" alt=""> <span>Settings</span></a></li>
            </ul>
        </div>
    </div>
    <section id="main-content">
        <div class="page-topbar">
            <div class="quick-area">
                <ul class="pull-left info-menu  user-notify">
                    <button id="menu_icon"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </ul>
            </div>
            <ul class="pull-right info-menu user-info">
                <li>
                    <select id="ddlmodule" class="form-control btn btn-default dropdown-toggle">
                        @foreach (var m in (Audire_MVC.Utilities.CommonDropdowns.GetModuleListAsPerUser()))
                        {
                            <option value=@m.Value>@m.Text</option>
                        }
                    </select>
                </li>
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle" aria-expanded="false">
                        <img src="~/Content/new_ui/images/user.png" alt="">
                        <span>@Html.Label(string.IsNullOrEmpty(Convert.ToString(@Session["LoginFullName"])) ? "WelcomeGuest" : Convert.ToString(@Session["LoginFullName"])) <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile ">
                        <li><a href="#" data-toggle="modal" data-target="#divResetpwd" id="resetpassword"><i class="fa fa-lock"></i>Reset Password</a></li>
                        <li class="last"><a href="@Url.Action("LogOut", "User", new { @class = "" })"><i class="fa fa-lock"></i><span>Sign Out</span></a></li>
                    </ul>
                </li>
            </ul>
           
        </div>



        <div class="modal fade" id="divResetpwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        @Html.ValidationSummary(true)
                        <p>
                            @Html.Password("oldPassword", null, new { @class = "span3", placeholder = "Enter Old Password", id = "txtoldPassword" })
                            @*   @Html.LabelForModel( new  {id="lbloldpwd" })*@
                        </p>
                        <p>
                            @Html.Password("newPassword", null, new { @class = "span3", placeholder = "Enter New Password", id = "txtnewPassword" })
                        </p>
                        <p>
                            @Html.Password("retypePassword", null, new { @class = "span3", placeholder = "Retype New Password", id = "txtretypePassword" })
                        </p>
                        <p>
                            <label id="lblErrorMsg" style="color: red;"></label>
                            <button type="button" onclick="return Resetpassword();" class="btn btn-default">RESET</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        @RenderBody()
    </section>

    <footer>
        <p>© 2020 Audire. All Rights Reserved</p>
    </footer>
</body>
</html>