﻿

@model List<Audire_POCO.RolePOCO>
@using Audire_MVC.Utilities
@*<script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<style>
    
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 4px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

</style>

<script type="text/javascript">

    function ValidateUsername() {
        debugger;
        var regex = /^[A-Za-z0-9  _]+$/
        var isValid = regex.test(document.getElementById("txtRole").value);
        if (!isValid) {
            //$('#lblmsg').text('Please enter a valid rolename.');
            $("#dialogid").text('Please enter a valid rolename.');
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });
            return false;
        } else {
            $('#lblmsg').text('');
            return true;
        }
    }

    function validateControls() {
        debugger;
        var output = 0;
        var num_flag = 0;
        if (isEmpty($('#txtRole').val())) {
            $('#txtRole').css("border", "1px solid red");
            output += 1;
        }
        //if (isEmpty($('#txtAuditNo').val())) {
        //    $('#txtAuditNo').css("border", "1px solid red");
        //    output += 1;
        //}
        //else {
        //    debugger;
        //    if ($('#txtAuditNo').val() > 0 && $('#txtAuditNo').val() <= 100) {
        //        $('#txtAuditNo').css("border", "");
        //    }
        //    else {
        //        $('#txtAuditNo').css("border", "1px solid red");
        //        num_flag += 1;
        //    }
        //}
        //if (isEmpty($('#ddlFrequency').val())) {
        //    $('#ddlFrequency').css("border", "1px solid red");
        //    output += 1;
        //}

        if (output > 0) {
            //$('#lblmsg').text("Please fill the fields marked in red.");
            $("#dialogid").text("Please fill the fields marked in red.");
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });
            return false;
        }
        else {
            //if (num_flag > 0) {
            //    $('#lblmsg').text("No of audit should be greater than 0 and less than equal to 100.");
            //    return false;
            //}

            if (!ValidateUsername()) {
                //$('#lblmsg').text("Please enter a valid rolename.");
                $("#dialogid").text("Please enter a valid rolename.");
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });
                return false;
            }
            else {
                $('#lblmsg').text("");
                var id = $('#hdnRole_id').val();
                var item = $('#txtRole').val().trim();
              
                $.ajax({
                    url: "IsRoleExists",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "RoleName": item,"RoleId":id }),
                    success: function (result) {
                   
                        if (result.err_code == 200) {
                            //$('#lblmsg').text(result.err_message);
                            $("#dialogid").text(result.err_message);
                            $("#dialog").dialog({

                                dialogClass: "no-close",
                                buttons: [
                                    {
                                        text: "OK",
                                        click: function () {
                                            $(this).dialog("close");

                                        }
                                    }
                                ]
                            });
                            return false;
                        }
                        else {
                            var perm = [];
                            var obj;
                            $.each($("input[name='permissions']:checked"), function () {
                                debugger;
                                obj = {
                                    "ID": $(this).val(),
                                    "Permission": $(this).next("label").text()
                                }
                                perm.push(obj);
                            });
                            var data = {
                                "role_id": $('#hdnRole_id').val(),
                                "role_name": $('#txtRole').val().trim(),
                                "permission": perm
                                //"measurement_unit": $('#ddlFrequency').val(),
                                //"audit_no": $('#txtAuditNo').val()
                            };
                            var param = "{objRolePOCO:" + JSON.stringify(data) + "}";
                            $.ajax({
                                type: "POST",
                                url: "SaveRole",
                                contentType: "application/json; charset=utf-8",
                                data: param,
                                success: function (output) {
                                    debugger;
                                    //do something with response
                                    if (output.err_code == 200) {
                                        //alert(output.err_message);
                                        $("#dialogid").text(output.err_message);
                                        $("#dialog").dialog({

                                            dialogClass: "no-close",
                                            buttons: [
                                                {
                                                    text: "OK",
                                                    click: function () {
                                                        $(this).dialog("close");
                                                        window.location.reload();
                                                    }
                                                }
                                            ]
                                        });
                                        
                                        //var param = { "rolemessage": output.err_message };
                                        //$.ajax({
                                        //    url: "SetTempData",
                                        //    type: 'POST',
                                        //    cache: false,
                                        //    contentType: "application/json; charset=utf-8",
                                        //    dataType: "json",
                                        //    data: JSON.stringify(param),
                                        //    success: function (result) {
                                        //        debugger;
                                        //        window.location.reload();
                                        //        // loadmsg(result);
                                               
                                        //    }
                                        //});
                                    }
                                    else {
                                        //$('#lbloutputmsg').text(output.err_message);
                                        $("#dialogid").text(output.err_message);
                                        $("#dialog").dialog({

                                            dialogClass: "no-close",
                                            buttons: [
                                                {
                                                    text: "OK",
                                                    click: function () {
                                                        $(this).dialog("close");

                                                    }
                                                }
                                            ]
                                        });
                                    }

                                },
                                error: function (xhr, status, error) {
                                    debugger;
                                    console.log(error);
                                    //do something about the error
                                },
                            });
                            //return true;
                        }
                    }
                });
                //return false;
                //return true;
            }
        }
    }
    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }


</script>

@foreach (var m in Model)
{

    <form method="post" action=''>
        <p><label>Role Name</label>
            @Html.HiddenFor(mi => m.role_id, new { id = "hdnRole_id" })
            @Html.TextBoxFor(mi => m.role_name, new { @class = "span3", id = "txtRole", @maxlength = "50" })
        </p>
        <p><label>Permissions</label>
            @foreach (var p in (Audire_MVC.Utilities.CommonDropdowns.GetPermissionList()))
            {
                if (string.IsNullOrEmpty(@m.permissions))
                {
                    <input name="permissions" type="checkbox" value="@p.ID" id="@String.Concat('p', p.ID)" />
                }
                else
                {
                    if (@m.permissions.Contains(Convert.ToString(p.ID)))
                    {
                <input name="permissions" type="checkbox" value="@p.ID" id="@String.Concat('p', p.ID)" checked="checked" />
                    }
                    else
                    {
                    <input name="permissions" type="checkbox" value="@p.ID" id="@String.Concat('p', p.ID)" />
                    }
                }
                <label for="@String.Concat('p',p.ID)" >@p.Permission</label>

            }
           
        
        </p>
        <p>
            <label id="lblmsg" style="color: red;"></label>
        <button type="button"  onclick="return validateControls();" class="btn btn-default">SAVE</button></p>
    </form>

    @*<section class="search-sec">
        <form action="#" method="post" novalidate="novalidate">
            <div class="col-lg-12">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <label>Role Name</label>
                    @Html.HiddenFor(mi => m.role_id, new { id = "hdnRole_id" })
                    @Html.TextBoxFor(mi => m.role_name, new { @class = "form-control search-slt", id = "txtRole", @maxlength = "50" })
                </div>
               
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <label>Frequency</label>
                    @Html.DropDownList("Permissions", (CommonDropdowns.GetPermissionList(m)), new { @class = "form-control search-slt", id = "ddlPermission" })

                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <label>&nbsp;</label>
                    <label id="lblmsg" style="color: red;"></label>
                    <input type="button" value="Save" class="btn btn-danger wrn-btn" onclick="return validateControls();" />
                </div>
            </div>
        </form>
    </section>*@

    
    break;

}






















