@font-face {
    font-family: 'TitilliumWeb';
    src: url(../font-style/TitilliumWeb-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../font-style/Comfortaa-Regular.ttf) format('truetype');
}
/*
body{    
    font-family: "Roboto", "Open Sans", sans-serif;
}*/
a{
    color: #595959
}
a:hover {
    color: #4b7521;
    text-decoration: none;
}
/*===========================SUPPORT CLASS===========================*/

.trans{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.flowHide{
    overflow: hidden;
}


/*===========================NAVBAR START===========================*/

.bg-dark {
    background-color: #eff2f7 !important;
}

/*HAMBURGER START*************************/

.hamburger {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    transition: all 1s ease;
}

.cta {
  height: 50px;
  width: 50px;
  cursor: pointer; }

.toggle-btn {
  height: 2px;
  width: 25px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 0;
  margin: auto;
  transition: all 0.3s ease-in-out; 
}
  .toggle-btn:before {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 -10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}
  .toggle-btn:after {
    content: "";
    height: 2px;
    width: 25px;
    box-shadow: 0 10px 0 0 #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; 
}

.active .type14 {
  background-color: #fff;
  width: 12px;
  margin: auto; 
}
  .active .type14:before {
    width: 6px; 
}
  .active .type14:after {
    width: 25px;
}

/*HAMBURGER END*************************/

.nav-item .nav-link{
    display: block;
    padding:5px 0; 
    color:#c8c8c8;;
    font-size:15px;   
    position: relative;
    white-space: nowrap;
}

.user-icon{
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #b80100;
    border-radius: 50px;
}


@media (min-width: 576px){
.navbar-expand-sm .navbar-nav .nav-link {    
    margin-left: 15px;
}
    }

/*============================SIDE BAR START============================*/
.sidebar-menu {   
    position: relative;
    z-index: 99;
    height: 100vh;
    display: inline-block;
    background-color: #eff2f7;     
    display: block;
    min-height: 100%; 
    transition: all .3s cubic-bezier(.55,0,.1,1);    
/*    transform: translate3d(-200px,0,0);*/
}

.sidebar-menu .navbar-nav .nav-link {
    padding: 7px 0;
    position: relative;
    white-space: nowrap;
   
    
}
.nopad{
    padding: 0
}
.nav-item{
    margin: 13px 0;
    list-style: none;
}
.sidebar-menu .navbar-nav .nav-link img{
    
}
.sidebar-menu .nav-link:hover {
       background-color: #fff;
}

/*SMALL SIDE BAR****************/
.full-side-bar {
    width: 260px!important;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.small-side-bar{
    padding:0 0px; 
    text-align: center;
     transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.navbar-brand{
    margin: 0
}
.nav-link-name{
    position: relative;
    margin-left: 15px;
    
}
.nav-link-name {
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s;
    border-radius: 0.6rem;
    padding: 4px 10px;
    top: 15px;
    left: 50px;
   
}
.tax-active > .tax-show{
    display: inline-block !important; 
    position: absolute;
    white-space: nowrap;
    transition: opacity 0.4s ease-out 0s; 
    border-radius: 0.6rem;
    padding: 4px 10px;
    top: 15px;
    left: 50px;
    background-color:#171717;
    
}
.tax-active > .tax-show::after {
    content: '';
    position: absolute;
    top: 6px;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 15px solid #171717;
   
}
.name-hide{
    display: none;
}


/*///////////////ANIMATEED///////////////*/
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: mymove 1s ;
    animation-iteration-count: 1;
}

/*FADE IN RIGHT*/

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


@keyframes fadeInRight{
    
    0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}



.content{
    padding-top:10px;
        width: 100%;
        overflow: auto;
}
.au_top{
    margin: 50px 0 0 0;
}

.mb-0 [data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font-size: 14px;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  margin: 4px 0 0 5px;
  }   
.mb-0 [data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    border: solid 2px #a2a2a2;
    border-radius: 30px;
    padding: 0px;
    width: 100%;
    }

    .search_input{
    color: #a0a0a0;
    border: 0;
    outline: 0;
    background: none;
    width: 80%;
        padding: 5px 15px;
    font-size: 14px;
    line-height:24px;
    transition: width 0.4s linear;
    }

    .side_left{
        border-right: solid 1px #bfbfbf;
    }
    .search_icon{
        height: 38px;
    width: 38px;
    margin: -1px -1px 0 0px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #a2a2a2;
    color: #fff;
    text-decoration:none;
    }
    .card{
        border: none;
        border-bottom: solid 2px #a0a0a0;
        padding: 15px 0 10px;
        border-radius: 0;
    }
    .card-header{
        border: none;
        background: none;
        padding: 4px 0 10px;
    }
    .card-body{
        padding:0;
        float: left;
    }
    .aud_audit h3{
        font-size: 18px;
        color: #777;
        margin: 10px 10px 0;
        padding: 10px 0px;
        border-bottom: solid 1px #ddd;
        width: 100%
    }
    .aud_audit ul{
        padding: 0 0px;
        width: 100%;
        float: left;
    }
    .aud_audit li{
        list-style: none;
        margin: 18px 0 0 0;
        border-left: solid 9px #fff;
    }
    .aud_audit li:hover{
        border-left: solid 9px #67923d;
    }
    .aud_img{
        margin: 15px 0 0 0 
    }
    .aud_img img{
        width: 100%
    }
    .au_score h5{
        color: #555555;
        font-size: 18px;
        margin: 0
    }
    .au_score p{
        color: #737373;
        margin: 0 0 0px 0;
    }
    .au_score h6{
        border-radius: 25px;
        padding:5px 0px;
        color: #737373;
        border: solid 2px #cdcdcd;
        background: #f5f5f5;
        text-align: center;
    }
    .view_edit{
        width: 100%;
        float: left;
    }
    .view_edit a{
        background: #f2f2f2;
        color: #737373;
        border-radius: 5px;
        padding: 5px 0;
        text-align: center;
        width: 100%;
        margin:5px 0;
        float: left; 
    }



.new_template{
    width: 100%;
    float: left;
}
.new_template a{
    background: #67923d;
    color: #fff;
    border-radius: 5px;
    padding:10px 10px;
    width: 100%;
    float: left;
    margin: 0px 0 0 0; 
    text-align: center;
}
.side_left_1{
    background: #fafafa
}
.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc !important; 
    border-radius: 0px !important; 
}
.au_report{
    margin: 14px 60px 0 0;
    float: left;
}
.dropdown-toggle{
    color: #6c6c6c;
    background: none;
    border: none;
    padding: 0;
    font-weight: bold;
    font-size: 1.4rem;
}
.dropdown-toggle:hover, .dropdown-toggle:focus, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{
    background: none !important;
    color: #6c6c6c !important;
    box-shadow:none !important;
}
.dropdown-toggle:not(:disabled):not(.disabled).active:focus, .dropdown-toggle:not(:disabled):not(.disabled):active:focus, .show>.dropdown-toggle:focus {
    box-shadow: none !important;
}
.dropdown-menu.show {
    display: block;
    /*left: auto !important;*/
    right: -25px; 
    padding: 10px 10px;
    line-height: 30px;
}
.au_report label{
    color: #a6a6a6
}
.select2 option{
    padding: 0
}
.au_percentage h2{
    font-weight: bold;
    color: #595959
}
.au_percentage h2 small{
    color: #94ce58;
    font-size: 70%;
    font-weight: bold;
}
.au_percentage p{
    margin: -7px 0 0;
    float: right;
}
.re_top{
    padding: 10px 0 10px;
width: 100%;
    float: left;
    border-top: solid 1px #ddd;
}
.au_setting{
    float: right;
    margin: 15px 0 0;
}
.au_setting a{
    color: #a6a6a6;
    border:solid 2px #a6a6a6;
    padding:5px 20px;
}
.au_recent{
    margin: 0px 0 0 0
}
.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 40% !important;
    position:relative;
}
.coupon .time {
    font-size: 1.6rem;
}
.icon-container_box{
    background: #a6a6a6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px auto;
}
.icon-container_box1{
    background: #be0712;
    width: 30px;
    height: 30px;
    margin: 17px auto;
    border-radius: 50%
}
.dropdown-toggle::after{
        border-top: 0.5em solid;
    border-right: .5em solid transparent;
    margin: 20px 0 0;
    border-left: .5em solid transparent;
}
.coupon{
        border: solid 4px #f2f2f2;
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
    margin: 10px 0 0 0
}
.lead{
    font-weight: bold;
    color: #595959;
    font-size: 18px;
    margin: 7px 0 0 0
}
.coupon label{
    margin:0
}
.tengah p{
    color: #7f7f7f;
    font-size: 14px;
    margin: 0
}
.block h5{
    color: #94ce58;
    font-size: 20px;
    font-weight: bold;
}
.block1 h5{
    color: #be0712;
    font-size: 20px;
    font-weight: bold;
}
.viewmore a{
    float: right;
    margin: 20px 0 0;
    color: #b9b9b9
}
.viewmore a i{
    font-size: 10px;
    color: #7f7f7f;
}
.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}
.schedule{
    float: left;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.schedule a{
    background: #2648c6;
    color: #fff;
    border-radius: 5px;
    padding:5px 10px 
}
#chartContainer{
    padding: 10px 0;
}
.canvasjs-chart-credit{
    display: none;
}
.side-bar-last{
    background: #67923d;
}
.user{
    color: #fff;
    float: right;
    margin: 10px 0
}
.user h4, .performance h4{
    font-size: 18px;
    text-align: right;
}
.performance h4{
    font-size: 18px;
    text-align: left;
}
.user p, .performance p, .count p{
    font-size: 11px;
}
.performance p{
    font-size: 9.5px;
    margin: 0;
    text-align:left
    
}
.performance, .count{
    color: #fff;
    float: left;
    text-align: center;
    margin:5px 0 10px 0;
    width: 100%
}
.count img{
    width: 50px
}
.count p{
    margin: 0
}
.chat-list-box {
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.flat-icon li{
    display: inline-block;
    padding: 0px 8px;
    vertical-align: middle;
    position: relative;
    top: 7px;
}

.flat-icon a img {
    width: 22px;
    border-radius: unset !important;
}

ul.list-inline.text-left.d-inline-block.float-left {
    margin-bottom: 0;
}

.chat-list-box ul li img {
    border-radius: 50px;
}

.message-box{
    display: inline-block;
    width: 100%;
}

.msg-box div{
    color: #333;
    line-height: 18px;
    font-size: 14px;
}

.msg-box img{
    border-radius:50px;
}

.msg-box div span{
    font-weight:550;
    color: #333
}

.head-box {
    display: flow-root;
    padding: 10px;
    background: #007bff;
}
.head-box ul li a{
    color:#fff;
}
.chat-person-list{
    padding:14px;
}
.chat-person-list ul li img{
    width:30px;
    border-radius:50px;
}

.chat-person-list ul li span {
    padding-left: 20px;
}

.chat-person-list ul li {
    line-height: 55px;
}

span.chat-time {
    float: right;
    font-size: 12px;
}

.head-box-1{
    float: left;
    width: 100%;
    padding: 7px 5px;
    background: #fff;
    margin: 0 0 5px 0
}
.head-box-1 ul li i{
    color:#fff;
    cursor:pointer;
}
.msg_history {
    padding: 10px;
    height:280px;
    overflow: overlay;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
}
.timee{
    color: #333;
}
.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg {
    width: 57%;
}
.received_withd_msg p {
    background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.incoming_msg_img img {
    width: 100%;
    border-radius: 50px;
    float: left;
}
.outgoing_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}
.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
    background: #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}
.chat-person-list ul li a {
    color: #545454;
    text-decoration: none;
}
.attachement {
    background: #777;
    position: absolute;
    width: 220px;
    right: 30%;
    top: 42px;
    display: none;
}
.attachement ul li {
    display: -webkit-inline-box;
    margin: 0px 19px 15px 20px;
}
.attachement ul li a{
    color:#fff;
}

.setting-drop{
    display: none;
    position: absolute;
    width: 200px;
    height: 148px;
    right: 0;
    top: 42px;
    background: #ffffff;
    z-index: 99;
    color: #545454;
    box-shadow: 1px 1px 15px 1px #0000001f;
}
.list-inline a{
    font-size: 13px;
}
.send-message {
    padding: 15px;
    background: #007bff;
    height: auto;
}
.send-message textarea:focus {
    box-shadow: none;
    outline: none;
    border-color:#ddd;
}
.send-message ul li {
    display: -webkit-inline-box;
    padding-left: 15px;
}
.send-message ul li i{color:#0056b3;}
.send-message ul li a{color:#0056b3;}
.send-message ul {
    position: absolute;
    right: 45px;
    top: 88%;
    border-left: 1px solid #9c9a9a;
}
.send-message .form-control {
    border-radius: 50px;
}
.opne_task{
    color: #fff;
    margin: 30px 0 0 0
}
.opne_task h4{
    font-size: 18px;
    margin: 0;
}
.opne_task p{
    font-size: 12px;
}
.mn_small{
    font-size: 10px
}
.message-box .mn_right {
    float: right;
    width:auto
}
.mn_right p small{
    font-size: 10px;
    color: #fff;
}
.mn_right p{
    margin: 0 0 5px
}
.mn_right p a{
    background: #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 32px;
    float: right;
    text-align: center;
    font-weight: bold;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    display: block;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.side_bar{
    display: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
    #datepicker {
    margin:0px 0 0 0;
}
}
@media (max-width: 1130px) {
    .search_input{
        padding: 6px 15px;
            line-height: 24px
    }
    .search_icon{
        height: 40px;    
        width: 40px;
    }
    .searchbar{
        height: 42px;
    }
}
@media (max-width:990px) {
.side_bar {
    display: block;
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 9999;
    background: #fff;
    border: solid 2px #ddd;
    padding:5px;
    cursor: pointer; 
}
#wrapper{
    position: fixed;
    right: 0px;
    top: 0px;
    background: #2648c6;
    z-index: 999;
}
#wrapper.toggled{
    display: none;
}
}
@media (max-width:768px) {
.side-bar-last, .side_left_1 {
    margin: 15px 0 0 0
}
}

@media (max-width:576px) {
    .sidebar-menu   {
        height: auto;
    }
.aud_img {
    margin: 15px auto;
    width: 70px;
}
.au_score{
    text-align: center;
}
.navbar-nav{
    display: block;
}
.nav-item{
    float: left;
        width: 16%;
}
.au_top {
    margin: 0;
}
}

.navbar-brand{
    margin: 0 auto;
    text-align: center;
    display: block;
}

#contain {
  
}
.mn_weeek{
    border: solid 2px #ddd;
    text-align: center;
    border-radius: 5px;
}
.select2-container{
    border-bottom: solid 1px #ddd;
}
.mn_weeek .btn-lg{
   line-height: initial; 
}
.b-select-wrap {
    border: none;
    color: #1092C9;
    /*overflow: hidden;*/
    position: relative;
    border-radius: 3px;
    margin:6px 0;
}

.b-select-wrap::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 16px;
    top: -19px;
    z-index: 1;
    color: #333;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    font-size: 35px;
}
.form-control:focus{
    box-shadow:none !important;
    border:none
}
.b-select {
    padding: 0px 15px;
    background-color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    -webkit-appearance: none; /* for webkit browsers */
    -moz-appearance: none; /* for firefox */
    appearance: none; /* for modern browsers */
}

/* remove default caret for ie */
.b-select::-ms-expand {
   display:none;
}


/*Left menu*/


.main-menu:hover,nav.main-menu.expanded {
    width:275px;
    overflow:visible;
}

.main-menu {
    background:#eff2f7;
    border-right:1px solid #e5e5e5;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:100%;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
    padding: 0 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:100%;
    /*padding: 10px 0 */
}

    .main-menu li > a > i {
        font-size: 30px;
        /* margin: 0 11px;*/
        margin: 0 39px;
        width: 35px;
    }
.main-menu li > a > img{
    width: 50px;
    margin: 0 7px
}
.user-info{
    padding:5px 15px;
}
    .user-info span {
          /*color:#fff*/
    }
    .main-menu li > a {
        position: relative;
        display: flex;
        border-collapse: collapse;
        border-spacing: 0;
        color: #999;
        padding: 20px 0 !important;
        font-size: 16px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1,1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }
.coupon .tengah {
    text-align: left;
}

.page-topbar .btn {
    margin: 15px 10px 0 0 !important;
    padding: 0 15px
}

#main-menu-wrapper .dropdown:before {
    font-family: FontAwesome;
    content: "\f105";
    transition: all .4s;
    padding-right: 5px;
    right: 10px;
    position: absolute;
    top: 0px;
    font-size: 24px;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
padding-left: 30px;
padding-top: 5px;
}

.main-menu>ul.logout {
position:absolute;
left:-5px;
bottom:0;
width: 280px;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff !important;
    background: #67923d
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
.mn-audit-st{
    width: 100%;
    float: left;
}
.mn-audit-st h3{
    margin: 20px 0 10px 10px;
    color: #888;
    font-size: 18px
}
.mn_build_left{
    float: left;
}
.mn_build_left span{
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #666
}
.mn_build_left p{
    margin: 0;
    color: #777
}
.mn_building{
    background: #eff2f7;
    border-radius: 3px;
    padding: 10px;
    float: left;
    width: 100%;
    margin: 0 10px 5px
}
.mn_build_right span, .mn_build_right1 span{
    width: 15px;
    height: 15px;
    background: #01b156;
    border-radius: 50%;
    float: right;
    margin: 10px;
    margin-top:-46px;
}
.mn_build_right1 span{
    background: #f60401
}
.mn_aud h4, .mn_aud1 h4{
    font-weight: bold;
    font-size: 17px;
    color: #555;
    margin: 15px 0 0 0
}

.mn_aud h2, .mn_aud1 h2{
    font-weight: bold;
    font-size: 35px;
    color: #555;
}
.mn_aud h4 span{
    width: 15px;
    height: 15px;
    background: #09af50;
    border-radius: 50%;
    float: left;
    margin: 4px 10px 0 0
}

.mn_aud1 h4 span{
    width: 15px;
    height: 15px;
    background: #f60401;
    border-radius: 50%;
    float: left;
    margin: 4px 10px 0 0
}