﻿@model List<Audire_POCO.QuestionsPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}

<style>
    .dwntemplate {
        top: auto;
        overflow: initial;
        padding: 2px 24px;
        border-radius: 3px !important;
        background: #67923d;
        color: #fff;
        border: none;
        margin: 1px;
    }
</style>

<script type="text/javascript">
    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        $("#btnUpload").hide();
       
        if ('@Session["SectorId"]' == "3") {
            $("#uploadquestion").show();
        }
        else {
            $("#uploadquestion").show();
        }
        $('.editor_edit').on('click', function (e) {
            debugger;
            e.preventDefault();
            $("#ddlQuestModule").prop("disabled", true);
            $("#txtParts").prop("disabled", true);
            document.getElementById('ddlAudit_Type').style.pointerEvents = 'none';
            document.getElementById('txtQuestion').innerHTML = $(this).closest('tr')[0].children[1].innerText;
            document.getElementById('hdnquestion_id').innerHTML = $(this).closest('tr')[0].children[0].innerText;
        });

        $('.editor_remove').on('click', function (e) {
            debugger;
            e.preventDefault();

            $("#dialogid").text("Are you sure you wish to remove this record?");
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");
                            var module_id, subAudit, hdnquest_id;
                            module_id = $("#ddlQuestModule").children("option:selected").val();
                            subAudit = $('#ddlAudit_Type').val();
                            hdnquest_id = $(this).closest('tr')[0].children[0].innerText;
                            DeleteQuestion(module_id, subAudit, hdnquest_id);
                        }
                    }
                ]
            });

            //if (window.confirm("Are you sure you wish to remove this record?")) {

            //    var module_id, subAudit, hdnquest_id;
            //    module_id = $("#ddlQuestModule").children("option:selected").val();
            //    subAudit = $('#ddlAudit_Type').val();
            //    hdnquest_id = $(this).closest('tr')[0].children[0].innerText;
            //    DeleteQuestion(module_id, subAudit, hdnquest_id);
            //}
            //else {
            //}
        });

        setModule();
        //Changed by monika bcz on question upload audit name was not renamed with selected value
        //var module_id = $("#ddlmodule").children("option:selected").val();
        //$("#ddlQuestModule").val(module_id);
        var module_id = $("#ddlmodule").children("option:selected").val();
        loadLabel(module_id);
        $("#ddlmodule").change(function (e) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            loadLabel(module_id);
            $("#ddlQuestModule").val(module_id);
            $('#ddlAudit_Type').val('');
            updateAuditType(module_id);
        });

        $("#Frequency").change(function (e) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            var item = $('#hdnAudit_Type').val();
            var freqId = $("#Frequency").val();
            loadTable(module_id, item, freqId);
        });

        $("#ddlQuestModule").change(function (e) {
            var module_id = $("#ddlQuestModule").children("option:selected").val();
            loadLabel(module_id);
            $('#ddlAudit_Type').val('');
            updateAuditType(module_id);
        });

        updateAuditType(module_id);
        $("#add_question").click(function () {
           
            if (isEmpty($('#hdnAudit_Type').val())) {
                $('#ddlAudit_Type').css("border", "1px solid red");
            }
            else {
                $('#ddlAudit_Type').css("border", "");
                $("#add_question").hide();
                $("#divEditQuestion").show();
                $("#divEditQuestion").load(rootUrl + "Questions/EditQuestion",
               { viewName: "EditQuestion" });
            }
        });
    });


    function loadPart(module_id, audit_type) {
        $("#msg").text("");
        $.ajax({
            url: rootUrl + "PerformAudit/GetPartsForProductAudit",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id, "audit_type": audit_type }),
            success: function (result) {

                console.log(result);
                if (result.length > 0) {
                    $("#txtParts").val(result[0].Parts); // clear before appending new list
                }
                //$.each(result, function (i, auditType) {
                //    $("#ddlAudit_Type").append(
                //        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                //});
            }
        });
    }

    function updateAuditType(module_id)
    {
        var freqId = $("#Frequency").val();
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id }),
            success: function (data) {
                console.log(data);
                var types = data;

                $('#ddlAudit_Type').autocomplete({

                    source: function (request, response) {
                        var matches = $.map(types, function (acItem) {

                            if (acItem.Audit_Type.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {

                                return acItem.Audit_Type;
                            }
                        });
                        response(matches);
                    },
                    minLength: 0,
                    scroll: true,
                    autoFocus: true,
                    select: function (event, ui) {
                        var type = ui.item.value;
                        for (var m = 0; m < data.length; m++) {
                            if (data[m].Audit_Type == type) {
                                $('#hdnAudit_Type').val(data[m].ID);
                            }
                        }
                        var item = $('#hdnAudit_Type').val();
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        debugger;
                        if (module_id == 3) {
                            loadPart(module_id, item);

                        }
                        loadTable(module_id, item, freqId);
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });

            }
        });
    }

    //var import = "@Session["ImportExcel"]";

    //Monika had commented this one and done this logic dynamically

    //function loadLabel(module_id) {
    //    $("#msg").text("");
    //    var audit_lbl = "";
    //    if (module_id == 1) {
    //        $('#divPart').hide();
    //        audit_lbl = "Compliance";
    //    }
    //    else if (module_id == 2) {
    //        $('#divPart').hide();
    //        audit_lbl = "Process";
    //    }
    //    else if (module_id == 3) {
    //        $('#divPart').show();
    //        audit_lbl = "Product";
    //    }
    //    else {
    //        $('#divPart').show();
    //        audit_lbl = "Supplier";
    //    }
    //    $('#lblAuditType').text(audit_lbl + ": ");
    //}

     function loadLabel(module_id) {
        $("#msg").text("");
        var audit_lbl = "";
         //$.get("" + rootUrl +"/Questions/GetModuleName", { module_id: module_id }, function (data) {
         $.get("/Questions/GetModuleName", { module_id: module_id }, function (data) {
             if (data != "") {
                 audit_lbl = data;
                 $('#lblAuditType').text(audit_lbl + ": ");
             }
         });

    }

    $('#ddlQuestModule').change(function (event) {
        var item = $("#ddlQuestModule").children("option:selected").val();
        if (item == 3)
        {
            $('#divPart').show();
        }
        else
        {
            $('#divPart').hide();
        }
        updateAuditType(item);
    });


    function GetData() {
        var audittypeid = $("#ddlAudit_Type").val();
        var moduleid = $("#ddlQuestModule").children("option:selected").val();
        $('#hdnAudit_Type').val(audittypeid);
        if (audittypeid != "") {
            //$.get("" + rootUrl + "/Questions/InsertAuditTypeID", { audittypeid: audittypeid, moduleid: moduleid }, function (data) {
            $.get("/Questions/InsertAuditTypeID", { audittypeid: audittypeid, moduleid: moduleid }, function (data) {

            });

        }
        else {
            //alert("No audit type selected");
            $("#dialogid").text("No audit type selected");
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });
        }
    }
    $(document).delegate(':file', 'change', function () {
        $("#btnUpload").show();
    });

    function isEmpty(value) {
        return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
    }
    function validateControlsOnEdit(hdnquest_id) {
        var sectorId = '@Convert.ToInt32(Session["SectorId"])';
        if (sectorId != 1) {
            //var hdnquest_id = $('#hdnquestion_id').val();
            var inputtype = $("#inputtype_" + hdnquest_id).val();
            var inputval = $("#inputval_" + hdnquest_id).val();
            var ncval = $("#ncval_" + hdnquest_id).val();

            if (inputtype == '4' || inputtype == '5' || inputtype == '2') {
                if (inputtype == "") {
                    //$("#msg").text("Please select input type and input value");
                    $("#dialogid").text("Please select input type and input value");
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");

                                }
                            }
                        ]
                    });
                }
                else {
                    var output = 0;

                    if (hdnquest_id == "") {
                        hdnquest_id = 0;
                    }
                    if (isEmpty($('#ddlAudit_Type').val())) {
                        $('#ddlAudit_Type').css("border", "1px solid red");
                        output += 1;
                    }
                    if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                        $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                        output += 1;
                    }
                    if (output == 0) {
                        $('#lblmsg').text('');
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        var subAudit = $('#ddlAudit_Type').val();
                        var quest = $('#txtQuestion_' + hdnquest_id).val();
                        var freqId = $('#Frequency').val();
                        var parts = $('#txtParts').val();
                        SaveQuestionWithJson(module_id, subAudit, inputtype, inputval, quest, parts, hdnquest_id, freqId, ncval);
                    }
                    else {
                        //$('#lblmsg').text('Please enter all the mandatory fields.');
                        $("#dialogid").text('Please enter all the mandatory fields.');
                        $("#dialog").dialog({

                            dialogClass: "no-close",
                            buttons: [
                                {
                                    text: "OK",
                                    click: function () {
                                        $(this).dialog("close");

                                    }
                                }
                            ]
                        });
                        return false;
                    }
                }
            }
            else {
                if (inputtype == "" || inputval == "") {
                    //$("#msg").text("Please select input type and input value");
                    $("#dialogid").text("Please select input type and input value");
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");

                                }
                            }
                        ]
                    });

                }
                else {
                    var output = 0;
                    var hdnquest_id = $('#hdnquestion_id').val();
                    if (hdnquest_id == "") {
                        hdnquest_id = 0;
                    }
                    if (isEmpty($('#ddlAudit_Type').val())) {
                        $('#ddlAudit_Type').css("border", "1px solid red");
                        output += 1;
                    }
                    if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                        $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                        output += 1;
                    }
                    if (output == 0) {
                        $('#lblmsg').text('');
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        var subAudit = $('#ddlAudit_Type').val();
                        var quest = $('#txtQuestion_' + hdnquest_id).val();
                        var freqId = $('#Frequency').val();
                        var parts = $('#txtParts').val();
                        SaveQuestionWithJson(module_id, subAudit, inputtype, inputval, quest, parts, hdnquest_id, freqId,ncval);
                    }
                    else {
                        //$('#lblmsg').text('Please enter all the mandatory fields.');
                        $("#dialogid").text('Please enter all the mandatory fields.');
                        $("#dialog").dialog({

                            dialogClass: "no-close",
                            buttons: [
                                {
                                    text: "OK",
                                    click: function () {
                                        $(this).dialog("close");

                                    }
                                }
                            ]
                        });
                        return false;
                    }
                }
            }
        }
        else {
            var output = 0;
            var hdnquest_id = $('#hdnquestion_id').val();
            if (hdnquest_id == "") {
                hdnquest_id = 0;
            }
            if (isEmpty($('#ddlAudit_Type').val())) {
                $('#ddlAudit_Type').css("border", "1px solid red");
                output += 1;
            }
            if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                output += 1;
            }
            if (output == 0) {
                $('#lblmsg').text('');
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                var subAudit = $('#ddlAudit_Type').val();
                //if (isEmpty(subAudit))
                //    subAudit = $('#ddlAudit_Type').val();
                //else
                //    subAudit = subAudit.label;

                var quest = $('#txtQuestion_' + hdnquest_id).val();
                var parts = $('#txtParts').val();

                SaveQuestion(module_id, subAudit, quest, parts, hdnquest_id);
            }
            else {
                //$('#lblmsg').text('Please enter all the mandatory fields.');
                $("#dialogid").text('Please enter all the mandatory fields.');
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });
                return false;
            }
        }
    }

     function validateControls() {
        var sectorId = '@Convert.ToInt32(Session["SectorId"])';
        if (sectorId != 1) {
            var inputtype = $("#inputtype").val();
            var inputval = $("#inputval").val();
            var ncval = $("#Ncvalue").val();
            if (inputtype == '4' || inputtype == '5' || inputtype == '2') {
                if (inputtype == "") {
                    //$("#msg").text("Please select input type and input value");
                    $("#dialogid").text('Please select input type and input value');
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");

                                }
                            }
                        ]
                    });
                }
                else {
                    var output = 0;
                    var hdnquest_id = $('#add_question').val();

                    if (isEmpty($('#ddlAudit_Type').val())) {
                        $('#ddlAudit_Type').css("border", "1px solid red");
                        output += 1;
                    }

                    if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                        $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                        output += 1;
                    }
                    if (output == 0) {
                        $('#lblmsg').text('');
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        var subAudit = $('#ddlAudit_Type').val();
                        var quest = $('#txtQuestion_' + hdnquest_id).val();
                        var freqId = $('#Frequency').val();
                        var parts = $('#txtParts').val();
                        SaveQuestionWithJson(module_id, subAudit, inputtype, inputval, quest, parts, hdnquest_id, freqId, ncval);
                    }
                    else {
                        //$('#lblmsg').text('Please enter all the mandatory fields.');
                        $("#dialogid").text('Please enter all the mandatory fields.');
                        $("#dialog").dialog({

                            dialogClass: "no-close",
                            buttons: [
                                {
                                    text: "OK",
                                    click: function () {
                                        $(this).dialog("close");

                                    }
                                }
                            ]
                        });
                        return false;
                    }
                }
            }
            else {
                if (inputtype == "" || inputval == "") {
                    //$("#msg").text("Please select input type and input value");
                    $("#dialogid").text("Please select input type and input value");
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");

                                }
                            }
                        ]
                    });
                }
                else {
                    var output = 0;
                    var hdnquest_id = $('#add_question').val();

                    if (isEmpty($('#ddlAudit_Type').val())) {
                        $('#ddlAudit_Type').css("border", "1px solid red");
                        output += 1;
                    }
                    if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                        $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                        output += 1;
                    }
                    if (output == 0) {
                        $('#lblmsg').text('');
                        var module_id = $("#ddlQuestModule").children("option:selected").val();
                        var subAudit = $('#ddlAudit_Type').val();
                        var quest = $('#txtQuestion_' + hdnquest_id).val();
                        var freqId = $('#Frequency').val();
                        var parts = $('#txtParts').val();
                        SaveQuestionWithJson(module_id, subAudit, inputtype, inputval, quest, parts, hdnquest_id, freqId, ncval);
                    }
                    else {
                        //$('#lblmsg').text('Please enter all the mandatory fields.');
                        $("#dialogid").text('Please enter all the mandatory fields.');
                        $("#dialog").dialog({

                            dialogClass: "no-close",
                            buttons: [
                                {
                                    text: "OK",
                                    click: function () {
                                        $(this).dialog("close");

                                    }
                                }
                            ]
                        });
                        return false;
                    }
                }
            }
        }
        else {
            var output = 0;
            var hdnquest_id = $('#hdnquestion_id').val();
            if (hdnquest_id == "") {
                hdnquest_id = 0;
            }
            if (isEmpty($('#ddlAudit_Type').val())) {
                $('#ddlAudit_Type').css("border", "1px solid red");
                output += 1;
            }
            if (isEmpty($('#txtQuestion_' + hdnquest_id).val())) {
                $('#txtQuestion_' + hdnquest_id).css("border", "1px solid red");
                output += 1;
            }
            if (output == 0) {
                $('#lblmsg').text('');
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                var subAudit = $('#ddlAudit_Type').val();
                //if (isEmpty(subAudit))
                //    subAudit = $('#ddlAudit_Type').val();
                //else
                //    subAudit = subAudit.label;

                var quest = $('#txtQuestion_' + hdnquest_id).val();
                var parts = $('#txtParts').val();

                SaveQuestion(module_id, subAudit, quest, parts, hdnquest_id);
            }
            else {
                //$('#lblmsg').text('Please enter all the mandatory fields.');
                $("#dialogid").text('Please enter all the mandatory fields.');
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });
                return false;
            }
        }
    }

     var CompanyIdVal = '@Session["ImportExcel"]';
    if (CompanyIdVal === "Success") {
        var item = '@Session["audittypeid"]'
        var module_id = '@Session["moduleid"]';
       var subaudit = '@Session["Subauditval"]';
        var auditname = '@Session["AuditName"]';
        var successmsg = '@Session["Successmsg"]';
        var sectorId = '@Session["SectorId"]';
        $("#ddlAudit_Type").val(subaudit);
        $("#ddlQuestModule").val(auditname);
        var freqId = $("#Frequency").val();
        //$("#msg").text("Question imported successfully.");
        $("#dialogid").text("Question imported successfully.");
        $("#dialog").dialog({

            dialogClass: "no-close",
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");

                    }
                }
            ]
        });
        var commonParam = {
            "module_id": module_id,
            "Audit_type_id": item,
            "FrequencyId": freqId
        }
        var param = "{obj:" + JSON.stringify(commonParam) + "}";
        //$("#questionList").load(rootUrl + "/Questions/DisplayQuestion",
        //    commonParam);
        $("#questionList").load("/Questions/DisplayQuestion",
       commonParam);

    }

    function validate() {
        var module_id = $("#ddlQuestModule").children("option:selected").val();
        var subAudit = $('#ddlAudit_Type').val();
        var auditName = $("#ddlQuestModule").children("option:selected").val();
        $("#hdnAudit_Type1").val(subAudit);
        if (subAudit != "") {
            //$.get("" + rootUrl+"/Questions/GetmoduleIdAndSubModuleId", { moduleId: module_id, submoduleID: subAudit }, function (data) {
            $.get("/Questions/GetmoduleIdAndSubModuleId", { moduleId: module_id, submoduleID: subAudit, auditName: auditName }, function (data) {

            });
        }
        else {
            //alert("Please Enter Sub Audit Type, Before Excel Upload");
            $("#dialogid").text("Please Enter Sub Audit Type, Before Excel Upload");
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });
            //$('#addDialog').modal('hide');
            $('#addDialog').modal().hide();
            //$("#addDialog .close").click()
        }
    }

    $(document).on('change', '.inputtype', function (e) {
    //$(".inputtype").on("change", function (e) {
        var inputID = $(this).val();
        if (inputID == "1") {
            $(".Ncvalue").show();
        }
        else {
            $(".Ncvalue").hide();
        }
        if (inputID == '4' || inputID == '5') {
            $(".inputval").hide();
        }
        else {
            $(".inputval").show();
        }
        //$.getJSON("" + rootUrl +"/Questions/GetInputValue", { inputID: inputID }, function (data) {
        $.getJSON("/Questions/GetInputValue", { inputID: inputID }, function (data) {
            $(".inputval").empty();
            $(".inputval").append("<option value = ''> -- Input Value -- </option>")
            $.each(data, function (index, item) {
                $(".inputval").append("<option value = '" + item.Value + "'>" + item.Text + "</option>")
            });
        });
    });

    $(document).on('change', '.inputval', function (e) {
        var inputid = $(".inputtype").children("option:selected").text();
        if (inputid == "Radio") {
            $(".Ncvalue").show();
            var inputID = $(this).children("option:selected").text();
            var arry = [];
            var ids = inputID.split('/');
            $(".Ncvalue").empty();
            $(".Ncvalue").append("<option value = ''> -- NC Value -- </option>")
            for (var i = 0; i < ids.length; i++) {
                $(".Ncvalue").append("<option value = '" + ids[i] + "'>" + ids[i] + "</option>")
            }
        }
        else {
            $(".Ncvalue").hide();
        }
    });

    var ID = "";
   
    $(document).on('change', '.editinputtype', function (e) {
        //$(".inputtype").on("change", function (e) {
        var inputID = $(this).val();
        ID = $(this).attr('id');
        ID = ID.split('_');
        ID = ID[1];
        if (inputID == "1") {
            $(".editncval_" + ID).show();
        }
        else {
            $(".editncval_" + ID).hide();
        }
        if (inputID == '4' || inputID == '5') {
            $(".editinputval_" + ID).hide();
        }
        else {
            $(".editinputval_" + ID).show();
        }
              //$.getJSON("" + rootUrl + "/Questions/GetInputValue", { inputID: inputID }, function (data) {
                $.getJSON("/Questions/GetInputValue", { inputID: inputID }, function (data) {
                $(".editinputval_" + ID).empty();
                $(".editinputval_" + ID).append("<option value = ''> -- Input Value -- </option>")
            $.each(data, function (index, item) {
                $(".editinputval_" + ID).append("<option value = '" + item.Value + "'>" + item.Text + "</option>")
            });
        });
    });

    function updatefunction()
    {
        var inputid = $("#inputtype_" + ID).children("option:selected").text();
        if (inputid == "Radio") {
            $("#ncval_" + ID).show();
            var inputID = $(inputval).children("option:selected").text();
            var ids = inputID.split('/');
            $(".editncval_" + ID).empty();
            $(".editncval_" + ID).append("<option value = ''> -- NC Value -- </option>")
            for (var i = 0; i < ids.length; i++) {
                $(".editncval_" + ID).append("<option value = '" + ids[i] + "'>" + ids[i] + "</option>")
            }
        }
        else {
            $(".Ncvalue").hide();
        }
    }

    $(document).on('click', '#Editbtn', function (e) {
        var id = $(this).val();
        ID = id;
        inputval = ".editinputval_" + id;
        $('#divModifyQuestion' + id).show();
        $('#divViewQuestion' + id).hide();
        var module_id = $("#ddlQuestModule").children("option:selected").val();
        var subAudit = $('#ddlAudit_Type').val();
        //$.getJSON("" + rootUrl +"/Questions/GetQuestionDetails", { QuesId: id, module_id: module_id, subAudit: subAudit}, function (data) {
        $.get("/Questions/GetQuestionDetails", { QuesId: id, module_id: module_id, subAudit: subAudit }, function (data) {
            if (data != "") {
                //$.getJSON("" + rootUrl +"/Questions/GetInputValue", { inputID: data.InputType }, function (data1) {
                $.get("/Questions/GetInputValue", { inputID: data.InputType }, function (data1) {
                   
                    $("#inputval_" +id).empty();
                    $("#inputval_" + id).append("<option value = ''> -- Input Value -- </option>")
                    $.each(data1, function (index, item) {
                        $("#inputval_" + id).append("<option value = '" + item.Value + "'>" + item.Text + "</option>")
                    });

                    $('#inputtype_' + id).val(data.InputType);
                    if (data.InputType == '4' || data.InputType == '5') {

                        $("#inputval_" + id).hide();
                        $("#ncval_" + ID).hide();
                    }
                    else {
                        $("#inputval_" + id).show();
                        $("#inputval_" + id).val(data.InputValue);
                        var inputID = $("#inputval_" + id).children("option:selected").text();
                        var ids = inputID.split('/');
                        $(".editncval_" + ID).empty();
                        $(".editncval_" + ID).append("<option value = ''> -- NC Value -- </option>")
                        for (var i = 0; i < ids.length; i++) {
                            $(".editncval_" + ID).append("<option value = '" + ids[i] + "'>" + ids[i] + "</option>")
                        }
                        if (data.InputType == "1") {
                            $("#ncval_" + ID).show();
                            $('#ncval_' + ID).val(data.NCValue);
                        }
                        else {
                            $("#ncval_" + ID).hide();
                        }
                    }
                });
            }
        });
    });

    var questionId = "";
    function SaveQuestion(module_id, subAudit, quest, parts, hdnquest_id) {
        questionId = hdnquest_id;
        $.ajax({
            url: "SaveQuestion",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ module_id: "' + module_id + '", subAudit: "' + subAudit + '", question: "' + quest + '", parts: "' + parts + '", question_id: "' + hdnquest_id + '"}',
            //data: '{ region: 'dfdf', country: 'df', location_id: '0', location: 'fdgdgfd', shifts: '5', st1: 'fgh', et1: 'fgbhfg', st2: 'ghf', et2: 'tyrty', st3: 'gfhfgh', et3: 'fghfh' }',
            success: function (result) {
              //  alert(result.err_msg);
                //window.location.reload();
                $("#txtQuestion_" + hdnquest_id).val("");
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                var auditType_id = result.audit_type_id;
                var freqId = $("#Frequency").val();
                loadTable(module_id, auditType_id, freqId);
                //$("#msg").text(result.err_msg);
                $("#dialogid").text(result.err_msg);
                $("#dialog").dialog({

                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });
                $("#ddlQuestModule").prop("disabled", false);
                $("#txtParts").prop("disabled", false);
                document.getElementById('ddlAudit_Type').style.pointerEvents = 'block';
                $("#add_question").show();
                $("#divEditQuestion").hide();

            }
        });
    }

    function SaveQuestionWithJson(module_id, subAudit, inputtype, inputval, quest, parts, hdnquest_id, freqId, ncval) {
        questionId = hdnquest_id;
        $.ajax({
            url: "SaveQuestionWithJson",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",            dataType: "json",
            data: '{ module_id: "' + module_id + '", subAudit: "' + subAudit + '",inputtype: "' + inputtype + '", inputval: "' + inputval + '", question: "' + quest + '", parts: "' + parts + '", question_id: "' + hdnquest_id + '",freqId:"' + freqId + '",ncval:"' + ncval+'"}',
            success: function (result) {
                $("#txtQuestion_" + hdnquest_id).val("");
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                var auditType_id = result.audit_type_id;
                var freqId = $("#Frequency").val();
                loadTable(module_id, auditType_id, freqId);
                $("#dialogid").text(result.err_msg);
                $("#dialog").dialog({
                    //open: function (event, ui) {
                    //    $(this).parent().css('position', 'fixed');
                    //}
                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
                $("#ddlQuestModule").prop("disabled", false);
                $("#txtParts").prop("disabled", false);
                document.getElementById('ddlAudit_Type').style.pointerEvents = 'block';
                $("#add_question").show();
                $("#divEditQuestion").hide();

            }
        });
    }

    function ClearAll() {

        setModule();
        var module_id = $("#ddlmodule").children("option:selected").val();
        $("#ddlQuestModule").val(module_id);
        loadLabel(module_id);
        $('#txtQuestion_' + questionId).val("");
        $('#txtParts').val("");
        updateAuditType(module_id);
        $("#ddlQuestModule").prop("disabled", false);
        document.getElementById('ddlAudit_Type').style.pointerEvents = 'auto';
        $('#hdnquestion_id').val('');
        $("#msg").text("");
        $("#add_question").show();
        $("#divEditQuestion").hide();
        //$("#questionList").load(rootUrl + "Questions/Clear"
        //      );

    }

    function ViewAdd()
    {
        $("#add_question").show();
        $("#divEditQuestion").hide();
        $('#hdnquestion_id').val('');
        $("#msg").text("");
    }

    function DeleteQuestion(module_id, subAudit, hdnquest_id) {

        $.ajax({
            url: "DeleteQuestion",
            type: 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: '{ module_id: "' + module_id + '", subAudit: "' + subAudit + '", question_id: "' + hdnquest_id + '"}',
            //data: '{ region: 'dfdf', country: 'df', location_id: '0', location: 'fdgdgfd', shifts: '5', st1: 'fgh', et1: 'fgbhfg', st2: 'ghf', et2: 'tyrty', st3: 'gfhfgh', et3: 'fghfh' }',
            success: function (result) {
               // alert(result.err_msg);
                //window.location.reload();
                var module_id = $("#ddlQuestModule").children("option:selected").val();
                if (result.err_code == 250) {
                    updateAuditType(module_id);
                    var freqId = $("#Frequency").val();
                    loadTable(module_id, auditType_id, freqId);
                    //$("#msg").text(result.err_msg);
                    $("#dialogid").text(result.err_msg);
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");
                                    
                                }
                            }
                        ]
                    });
                }
                else {

                    var auditType_id = $('#hdnAudit_Type').val();
                    var freqId = $("#Frequency").val();
                    loadTable(module_id, auditType_id, freqId);
                    //$("#msg").text(result.err_msg);
                    $("#dialogid").text(result.err_msg);
                    $("#dialog").dialog({

                        dialogClass: "no-close",
                        buttons: [
                            {
                                text: "OK",
                                click: function () {
                                    $(this).dialog("close");

                                }
                            }
                        ]
                    });
                }
            }
        });
    }

    $body = $("body");
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    function downloadexcel() {
        //window.location.href = "" + rootUrl+"/Questions/DownloadTemplate";
        window.location.href = "/Questions/DownloadTemplate";
    }
</script>

<style>
    .ui-autocomplete {
        z-index: 9999999 !important;
        position: relative;
    }

    .ui-widget.ui-widget-content {
        width: 280px !important;
    }
</style>
<div class="col-md-12 nopad">
    <div id="dialog">
        <p id="dialogid">
           
        </p>
    </div>
    <div class="bread_user">
        <div class="col-md-9">
            <h2>Template</h2>
            @if (Session["error"] != null)
            {
                <pre>
<span style="font-family:Calibri;font-size:3vh;color:red">'@Session["error"]'</span>
                </pre>
            }

        </div>

        <div class="col-md-3">
            @Html.DropDownList("ddlQuestModule", (CommonDropdowns.GetModuleList()), new { @class = "form-control mn_top search-slt", @name = "ddlQuestModule", @id = "ddlQuestModule" })

        </div>
    </div>

</div>

    <div class="add_new_user">
        <div class="col-lg-12">
            <div class="red">
                <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                    <label id="msg"></label>
                    @{var value = TempData["questionmsg"] as string;}
                    @if (value != null)
                    {
                        <p>@value.ToString()</p>
                    }
                </div>
            </div>

            <section class="search-sec" id="text_field">
                <form action="~/Questions/ImportQuestions" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    <div class="col-lg-8 nopad">
                        <div class="col-lg-3 col-md-6 col-sm-12 mn_complaiacce nopad">
                            <label id="lblAuditType"></label>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 mn_complaiacce nopad">

                            @Html.Hidden("hdnAudit_Type", "", new { id = "hdnAudit_Type" })
                            @Html.Hidden("hdnAudit_Type1", "", new { id = "hdnAudit_Type1" })
                            @Html.TextBox("ddlAudit_Type", "", new { @class = "form-control search-slt", @id = "ddlAudit_Type", @name = "ddlAudit_Type", @maxlength = "100", @onchange = "GetData();" })
                        </div>

                        @if (Convert.ToString(Session["SectorId"]) == "3")
                        {
                            <div class="col-md-3">
                                @Html.DropDownList("Frequency", null, null, new { @id = "Frequency", @class = "form-control Frequency", @name = "Frequency", @required = "required", @style = "aria-expanded:false;width:77.7%;;border-radius: 7px;", @value = "@ViewData['Frequency']" })

                            </div>
                        }

                    </div>
                    @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#create-plant">&nbsp;Upload Questions</button>*@


                    <div class="col-lg-2 col-md-6 col-sm-12 p-0 pull-right nopad">
                        <button type="button" id="uploadquestion" class="btn btn-danger wrn-btn" data-toggle="modal" data-target="#addDialog" onclick="validate();">&nbsp;Upload Questions</button>
                        <button type="button" class="btn btn-danger wrn-btn" id="add_question" value="0">+ Add Questions</button>
                    </div>

                    <div class="modal fade" id="addDialog" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="padding-top: 30px; margin-right: -203px;">
                                <div class="modal-header">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button type="button" class="dwntemplate" id="btntemplate" onclick="downloadexcel()">Download Template</button>
                                        </div>

                                        <div class="col-md-4">
                                            @*<input type="file" asp-for="Upload" id="fileupload" />*@
                                            <input type="file" name="selectedfile" id="file" accept=".xls,.xlsx" class="form-control" data-show-upload="false" data-show-remove="false" required style="margin-left: -41px;width: 218%;" />
                                        </div>




                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <p style="color: black;text-align: start;">* Please download the template, fill the data and then upload.<br />* Please upload only excel file like .xls, .xlsx.<br />* File Name Should be like UploadQuestionExport</p>

                                    <div class="col-md-3">
                                        <span id="lblExtError" style="color:red;"></span>
                                        <button type="submit" class="dwntemplate btnUpload" ID="btnUpload" style="margin-right: -323px;">Upload</button>

                                    </div>
                                    <button type="button" class="dwntemplate" data-dismiss="modal"> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </section>
        </div>
    </div>
    <div class="data_user">
        <section class="wrapper main-wrapper row">

            <div class="col-md-12 nopad">

                <div class="col-lg-12 col-md-12 col-sm-12" id="divEditQuestion" style="display:none;">

                    @*@Html.Partial("~/Views/Questions/EditQuestion.cshtml")*@
                </div>
                <div id="questionList" class="col-md-12 nopad">
                    @Html.Partial("~/Views/Questions/DisplayQuestion.cshtml", Model)
                </div>
            </div>

        </section>
    </div>
    <div class="loading_modal"></div>
