﻿@model List<Audire_POCO.PartPOCO>
@using Audire_MVC.Utilities

      
@*<style>
     .active
    {
         background-color: #f5f5f5;
    }
    .success
    {
         background-color: #dff0d8;
    }
</style>*@


      @if (Model!=null)
            { foreach (var m in Model)
      { 
            <div class="table">
                <div class="active">
                    <div class="col-md-6 nopad">
                        <p>Region Name: </p>
                    </div>
                    <div class="col-md-6 nopad">
                        @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.region))?"":m.region)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                        <p>Country: </p>
                    </div>
                    <div class="col-md-6 nopad">
                         @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.country))?"":m.country)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                        <p>Location: </p>
                    </div>
                    <div class="col-md-6 nopad">
                        @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.location))?"":m.location)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-info">
                    <div class="col-md-6 nopad">
                        <p>LineName/No: </p>
                    </div>
                    <div class="col-md-6 nopad">
                        @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.line_name))?"":Convert.ToString(m.line_name))
                    </div>
                </div>
                <div class="clearfix"></div>
                 <div class="row-info">
                    <div class="col-md-6 nopad">
                        <p>Product: </p>
                    </div>
                    <div class="col-md-6 nopad">
                        @Html.Label(string.IsNullOrEmpty(Convert.ToString(m.product_code))?"":Convert.ToString(m.product_code))
                    </div>
                </div>
              
                <div class="clearfix"></div>
                </div>
            
          break;
      }  
      }                
                       
  