﻿@model List<Audire_POCO.LinePOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "PerformAudit";
    Layout = "~/Views/Shared/Left_Layout.cshtml";
}


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    var rootUrl = '@Url.Content("~")';
    $('#tblPart').click(function (e) {
        var row_index = $(this).parent().index('tr');
        var col_index = $(this).index('tr:eq(' + row_index + ') td');
        var id = $(this).parent().find("input[type=hidden]").val();
        if (col_index < 2) {
            $('#ViewPart').show();
            $("#ViewPart").load(rootUrl + "PerformAudit/DisplayPerformAudit",
       { Id: id, viewName: "DisplayPerformAudit" });
        }
        else {
            $('#ViewPart').hide();
        }
    })

    $(document).ready(function () {
        setModule();
        var locationId = $("#ddlLocation").val();
        updateBuilding(locationId)
        var module_id = $("#ddlmodule").children("option:selected").val();
        if (module_id == 1) {
            $('#divLine').hide();
            $('#divPart').hide();
        }
        else {
            if (module_id == 3) {
                $('#divPart').show();
            }
            else {
                $('#divPart').hide();
                $('#divLine').show();
            }
        }
        $("#ddlmodule").change(function (e) {
            var module_id = $("#ddlmodule").children("option:selected").val();
            if (module_id == 1) {
                $('#divLine').hide();
            }
            else {
                $('#divLine').show();
            }
            var audit_lbl = "";
            if (module_id == 1) {
                $('#divPart').hide();
                audit_lbl = "Compliance";
            }
            else if (module_id == 2) {
                $('#divPart').hide();
                audit_lbl = "Process";
            }
            else if (module_id == 3) {
                $('#divPart').show();
                audit_lbl = "Product";
            }
            else if (module_id == 4) {
                $('#divPart').hide();
                audit_lbl = "Supplier";
            }
            $('#lblAuditType').text(audit_lbl);
            debugger;
            LoadParts(module_id, $("#ddlAudit_Type").children("option:selected").val());
        });

        var audit_lbl = "";
        if (module_id == 1) {
            //$('#divLine').hide();
            $('#divPart').hide();
            audit_lbl = "Compliance";
        }
        else if (module_id == 2) {
            //$('#divLine').show();
            $('#divPart').hide();
            audit_lbl = "Process";
        }
        else if (module_id == 3) {
            //$('#divLine').hide();
            $('#divPart').show();
            audit_lbl = "Product";
        }
        else if (module_id == 4) {
            $('#divPart').hide();
            audit_lbl = "Supplier";
        }
        $('#lblAuditType').text(audit_lbl);
        $.ajax({
            url: "GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id }),
            success: function (result) {
                console.log(result);
                $("#ddlAudit_Type").html(""); // clear before appending new list 
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
                debugger;
                LoadParts(module_id, $("#ddlAudit_Type").children("option:selected").val());
            }
        });
        $.ajax({
            url: "GetDropdownselection",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "",
            success: function (ddlresult) {
                debugger;
                console.log(ddlresult);
                
                if (ddlresult.region_id != undefined && ddlresult.region_id != '' && ddlresult.region_id != null)
                    $("#ddlRegion").val(ddlresult.region_id);
                var item = $("#ddlRegion").children("option:selected").val();
                debugger;
                $.ajax({
                    url: "GetCountries",
                    type: 'GET',
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: ({ "region_id": item }),
                    success: function (result) {
                        $("#ddlCountry").html(""); // clear before appending new list
                        $.each(result, function (i, country) {
                            $("#ddlCountry").append(
                                $('<option></option>').val(country.country_id).html(country.country_name));
                        });
                        if (ddlresult.country_id != undefined && ddlresult.country_id != '' && ddlresult.country_id != null)
                            $("#ddlCountry").val(ddlresult.country_id);
                        var country_id = $("#ddlCountry").children("option:selected").val();
                        debugger;
                        $.ajax({
                            url: "GetLocations",
                            type: 'GET',
                            cache: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: ({ "country_id": country_id }),
                            success: function (result) {
                                $("#ddlLocation").html(""); // clear before appending new list
                                $.each(result, function (i, loc) {
                                    $("#ddlLocation").append(
                                        $('<option></option>').val(loc.location_id).html(loc.location_name));
                                });
                                if (ddlresult.location_id != undefined && ddlresult.location_id != '' && ddlresult.location_id != null)
                                    $("#ddlLocation").val(ddlresult.location_id);
                                if (ddlresult.audit_type != undefined && ddlresult.audit_type != '' && ddlresult.audit_type != null)
                                    Show();
                            }
                        });

                    }
                });

            }
        });



        //var item = $("#ddlRegion").children("option:selected").val();

        //$.ajax({
        //    url: "GetCountries",
        //    type: 'GET',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: ({ "region_id": item }),
        //    success: function (result) {
        //        $("#ddlCountry").html(""); // clear before appending new list 
        //        $.each(result, function (i, country) {
        //            $("#ddlCountry").append(
        //                $('<option></option>').val(country.country_id).html(country.country_name));
        //        });
        //        var country_id = $('#ddlCountry').children("option:selected").val();
        //        $.ajax({
        //            url: "GetLocations",
        //            type: 'GET',
        //            cache: false,
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            data: ({ "country_id": country_id }),
        //            success: function (result) {
        //                $("#ddlLocation").html(""); // clear before appending new list 
        //                $.each(result, function (i, location) {
        //                    $("#ddlLocation").append(
        //                        $('<option></option>').val(location.location_id).html(location.location_name));
        //                });
        //            }
        //        });
        //    }
        //});

        var value = '@Request.RequestContext.HttpContext.Session["global_admin"]';
        if (value == 'Y') {
            $("#ddlRegion").prop("disabled", false);
            $("#ddlCountry").prop("disabled", false);
            $("#ddlLocation").prop("disabled", false);
            //$("#ddlLine").prop("disabled", false);
            //$("txtShiftNo").prop("disabled", false);
           // $("#ddlAudit_Type").prop("disabled", false);
        }
        else {
            $("#ddlRegion").prop("disabled", true);
            $("#ddlCountry").prop("disabled", true);
            $("#ddlLocation").prop("disabled", true);
            //$("#ddlLine").prop("disabled", true);
            //$("#txtShiftNo").prop("disabled", true);
            //$("#ddlAudit_Type").prop("disabled", true);
        }
        var url = '@Url.Action("PerformAudit")';
        //var item = $('#ddlLine').children("option:selected").val();
        //$.ajax({
        //    url: "GetParts1",
        //    type: 'GET',
        //    cache: false,
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    data: ({ "line_id": item }),
        //    success: function (result) {
        //        console.log(result);
        //        var dataAdapter = new $.jqx.dataAdapter(result);
        //        $('#txtpartnumber').jqxComboBox(
        //            {
        //                selectedIndex: -1,
        //                theme: "material",
        //                source: dataAdapter,
        //                displayMember: "product_name",
        //                valueMember: "product_id",
        //                search: function (searchString) {
        //                    $("#txtpartnumber").jqxComboBox('addItem', searchString);
        //                }
        //            }
        //            );
        //    }
        //});
        $('#ddlRegion').change(function (event) {

            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: "GetCountries",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "region_id": item }),
                success: function (result) {
                    $("#ddlCountry").html(""); // clear before appending new list 
                    $.each(result, function (i, country) {
                        $("#ddlCountry").append(
                            $('<option></option>').val(country.country_id).html(country.country_name));
                    });
                    var country_id = $('#ddlCountry').children("option:selected").val();
                    $.ajax({
                        url: "GetLocations",
                        type: 'GET',
                        cache: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ({ "country_id": country_id }),
                        success: function (result) {
                            $("#ddlLocation").html(""); // clear before appending new list 
                            $.each(result, function (i, location) {
                                $("#ddlLocation").append(
                                    $('<option></option>').val(location.location_id).html(location.location_name));
                            });
                        }
                    });
                }
            });
        });

        $('#ddlCountry').change(function (event) {

            var args = event.args;
            var item = $(this).children("option:selected").val();
            $.ajax({
                url: "GetLocations",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "country_id": item }),
                success: function (result) {
                    $("#ddlLocation").html(""); // clear before appending new list 
                    $.each(result, function (i, location) {
                        $("#ddlLocation").append(
                            $('<option></option>').val(location.location_id).html(location.location_name));
                    });
                }
            });
        });

        //$('#ddlLocation').change(function (event) {
        //    
        //    var args = event.args;
        //    var item = $(this).children("option:selected").val();
        //    $.ajax({
        //        url: "GetShifts",
        //        type: 'GET',
        //        cache: false,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: ({ "location_id": item }),
        //        success: function (result) {
        //            $("#txtShiftNo").html(); // clear before appending new list 
        //            $.each(result, function (i, shift) {
        //                $("#txtShiftNo").val(shift.no_of_shifts);
        //            }
        //           );

        //        }
        //    });
        //});

        //$('#ddlLine').change(function (event) {
        //    
        //    var args = event.args;
        //    var item = $(this).children("option:selected").val();
        //    //var item = $('#ddlLine').jqxComboBox('getItem', args.index);
        //    $.ajax({
        //        url: "GetParts",
        //        type: 'GET',
        //        cache: false,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        data: ({ "line_id": item }),
        //        success: function (result) {
        //            abc(result);
        //        }
        //    });
        //});

        $('#ddlmodule').change(function (event) {

            var item = $("#ddlmodule").children("option:selected").val();

            $.ajax({
                url: "GetAuditType",
                type: 'GET',
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: ({ "module_id": item }),
                success: function (result) {
                    console.log(result);
                    $("#ddlAudit_Type").html(""); // clear before appending new list 
                    $.each(result, function (i, auditType) {
                        $("#ddlAudit_Type").append(
                            $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                    });
                    debugger;
                    LoadParts(item, $("#ddlAudit_Type").children("option:selected").val());
                }
            });
        });

    });


    function LoadParts(module_id, audit_type) {
        $.ajax({
            url: rootUrl + "PerformAudit/GetPartsForProductAudit",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": module_id, "audit_type": audit_type }),
            success: function (result) {

                console.log(result);
                if (result.length > 0) {
                    var parts = result[0].Parts;
                    if (parts != null) {
                        var partsArr = parts.split(',');
                        $("#ddlPart").html(""); // clear before appending new list 
                        for (var i = 0; i < partsArr.length ; i++) {
                            //$.each(partsArr, function (i, part) {
                            $("#ddlPart").append(
                                $('<option></option>').val(partsArr[i]).html(partsArr[i]));
                        }
                    }
                    else {
                        $("#ddlPart").html(""); // clear before appending new list 

                    }
                }
                else {
                    $("#ddlPart").html(""); // clear before appending new list 

                }
            }
        });
    }

    function abc(result) {

        console.log(result);
        var dataAdapter = new $.jqx.dataAdapter(result);
        $('#txtpartnumber').jqxComboBox(
            {
                selectedIndex: -1,
                theme: "material",
                source: dataAdapter,
                displayMember: "product_name",
                valueMember: "product_id",
                remoteAutoComplete: true,
                search: function (searchString) {
                    $("#txtpartnumber").jqxComboBox('addItem', searchString);
                }
            }
            );
    }

    function Show() {
        validateControls();
        var sectorid = '@Session["SectorId"]';
        if (sectorid == "3") {
            GetData();
            var item = $("#ddlRegion").val();
            var item1 = $("#ddlCountry").val();
            var item2 = $("#ddlLocation").val();
            var item3 = "";
            var item4 = $("#ddlmodule").val();
            var item5 = "";
            var item6 = $("#ddlAudit_Type").val();
            var part = $("#ddlPart").val();
            var Frequency = $("#Frequency").val();
            var buildingId = $("#hdnBuilding").val();
            $('#ViewPart').show();
            $("#ViewPart").load(rootUrl + "PerformAudit/GetQuestionBasedOnSector",
                //param);
                { region_id: item, country_id: item1, location_id: item2, module_id: item4, ID: item6, part: part, Frequency: Frequency, buildingId: buildingId });

        }
        else {
            var item = $("#ddlRegion").val();
            var item1 = $("#ddlCountry").val();
            var item2 = $("#ddlLocation").val();
            var item3 = "";
            var item4 = $("#ddlmodule").val();
            var item5 = "";
            var item6 = $("#ddlAudit_Type").val();
            var part = $("#ddlPart").val();
            $('#ViewPart').show();
            $("#ViewPart").load(rootUrl + "PerformAudit/GetQuestion",
                //param);
                { region_id: item, country_id: item1, location_id: item2, module_id: item4, ID: item6, part: part });
        }
    }


    function validateControls() {

        var err_flag = 0;

        if ($('#ddlRegion').val() == "") {
            $('#ddlRegion').css('border-color', 'red');
            err_flag = 1;
        }
        else {
            $('#ddlRegion').css('border-color', '');
        }
        if ($('#ddlCountry').val() == "") {
            $('#ddlCountry').css('border-color', 'red');
            err_flag = 1;
        }
        else {
            $('#ddlCountry').css('border-color', '');
        }

        if ($('#ddlLocation').val() == "") {
            $('#ddlLocation').css('border-color', 'red');
            err_flag = 1;
        }
        else {
            $('#ddlLocation').css('border-color', '');
        }
        //var item = $("#ddlmodule").children("option:selected").val();
        //if (item != 1) {
        //    if ($('#ddlLineName').val() == "") {
        //        $('#ddlLineName').css('border-color', 'red');
        //        err_flag = 1;
        //    }
        //    else {
        //        $('#ddlLineName').css('border-color', '');
        //    }

        //    if ($('#txtpartnumber').val() == "") {
        //        $('#txtpartnumber').css('border-color', 'red');
        //        err_flag = 1;
        //    }
        //    else {
        //        $('#txtpartnumber').css('border-color', '');
        //    }

        //    if ($('#txtShiftNo').val() == "") {
        //        $('#txtShiftNo').css('border-color', 'red');
        //        err_flag = 1;
        //    }
        //    else {

        //        $('#txtShiftNo').css('border-color', '');
        //    }
        //}
        if (err_flag == 0) {
            $('#lblError').text('');
            return true;
        }
        else {
            //$('#lblError').text('Please enter all the mandatory fields.');
            $("#dialogid").text('Please enter all the mandatory fields.');
            $("#dialog").dialog({

                dialogClass: "no-close",
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });
            return false;
        }
    }

    function ClearAll() {

        $('#ViewPart').show();
        //$("#ViewPart").load(rootUrl + "CloseOpenTask/Clear"
        //  );
        $("#ViewPart").load("/CloseOpenTask/Clear"
        );

    }
    $body = $("body");
    debugger;
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });
    function show_value(x,i) {
        document.getElementById("slider_value_" +i).innerHTML = x;
    }

    function ValidateDecimalInputs(id,value) {

        var beforeDecimal = 5;
        var afterDecimal = 3;

        $('#numerixvalue' + value).on('input', function () {
            this.value = this.value
                .replace(/[^\d.]/g, '')
                .replace(new RegExp("(^[\\d]{" + beforeDecimal + "})[\\d]", "g"), '$1')
                .replace(/(\..*)\./g, '$1')
                .replace(new RegExp("(\\.[\\d]{" + afterDecimal + "}).", "g"), '$1');
        });
    }

    function updateBuilding(locationId) {
        $.ajax({
            url: rootUrl + "PerformAudit/GetBuilding",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "locationId": locationId }),
            success: function (data) {
                console.log(data);
                var types = data;

                $('#ddlBuilding').autocomplete({

                    source: function (request, response) {
                        var matches = $.map(types, function (acItem) {

                            if (acItem.BuildingName.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {

                                return acItem.BuildingName;
                            }
                        });
                        response(matches);
                    },
                    minLength: 0,
                    scroll: true,
                    autoFocus: true,
                    select: function (event, ui) {
                        var type = ui.item.value;
                        for (var m = 0; m < data.length; m++) {
                            if (data[m].BuildingName == type) {
                                $('#hdnBuilding').val(data[m].BuildingID);
                            }
                        }
                        
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });

            }
        }); 
    }

    function GetData() {
        var buildingid = $("#ddlBuilding").val();
        var locationId = $("#ddlLocation").val();
        $('#hdnAudit_Type').val(buildingid);
        if (buildingid != "") {
            //$.get("" + rootUrl + "/Questions/InsertAuditTypeID", { audittypeid: audittypeid, moduleid: moduleid }, function (data) {
            $.get("/PerformAudit/InsertbuildingID", { buildingid: buildingid, locationId: locationId }, function (data) {
                if (data != '') {
                    $('#hdnBuilding').val(data);
                }
            });

        }
        else {
            alert("No Building selected");
        }
    }

    //function ClearAll() {
    //    window.location.reload();
    //}
</script>


<style>
    .bs-example {
        margin-top: 1em;
        /*height: 120px;*/
    }

    .filter_panel {
        background-color: #CDEAD2;
        padding: 10px;
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        border-radius: 5px !important;
        float: left;
        width: 100%;
    }

    .filter_label p {
        margin: 15px 0 0 0;
    }

    .backgroundcolor {
        background-color: #AFEEEE;
    }

    .qr-title {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .qr-title1 {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .jqbox {
        padding: 0;
        height: 34px !important;
        border-radius: 5px;
        border: solid 1px #ccc;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12 nopad">
        <div class="bread_user">
            <div id="dialog">
                <p id="dialogid">

                </p>
            </div>
            <div class="col-md-3">
                <h2>Perform Audit</h2>
                <p><a href="#">Audit</a> >> Perform Audit</p>
            </div>

            <div class="col-md-9">
                <div class="col-lg-12 nopad mn_top">
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                        @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                    </div>
                    @*<div class="col-lg-3 col-md-4 col-sm-12 p-0">
                     @Html.DropDownList("audit_id", (CommonDropdowns.GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                </div>*@
                </div>

                <div class="col-lg-12">
                    <div class="col-lg-3 col-md-4 col-sm-12 p-0" style="margin-top: 13px; margin-left: -12px;">
                        @*@Html.DropDownList("audit_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })*@
                        @Html.DropDownList("audit_id", (CommonDropdowns.GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12 p-0" id="divPart">
                        <label id="lblAuditType">Part </label>
                        @Html.DropDownList("Part", (CommonDropdowns.GetLineList()), new { @class = "form-control search-slt", id = "ddlPart" })
                    </div>
                    @if (Convert.ToInt32(Session["SectorId"]) == 3)
                    {<div class="col-lg-3 col-md-4 col-sm-12 p-0" style="margin-top: 13px; margin-left: 5px;">
                            @Html.Hidden("hdnBuilding", "", new { id = "hdnBuilding" })
                            @Html.TextBox("ddlBuilding", "", new { @class = "form-control search-slt", @id = "ddlBuilding", @placeholder = "Enter Building", @name = "ddlBuilding" })

                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12 p-0" style="margin-top: 13px; margin-left: 5px;">
                            @Html.DropDownList("Frequency", null, null, new { @id = "Frequency", @class = "form-control search-slt Frequency", @name = "Frequency", @required = "required", @value = "@ViewData['Frequency']" })

                        </div>
                    }

                    <div class="col-lg-3 pull-right">

                        <div class="col-lg-6 col-md-2 col-sm-12 p-0" style="margin-top: -21px;">
                            <label id="lblError" style="color: red;"></label>
                            <button type="button" class="btn btn-danger wrn-btn" onclick="Show();">AUDIT</button>
                        </div>
                        <div class="col-lg-6 col-md-2 col-sm-12 p-0" style="margin-top: -21px;">
                            <label></label>
                            <button type="button" class="btn btn-danger wrn-btn1" onclick="ClearAll();">CLEAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 nopad">
        <div class="red">
            <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                @{var value = TempData["PerformAuditmessage"] as string;}
                @if (value != null)
                {
                    <p>@value.ToString()</p>
                }
            </div>
        </div>
    </div>




        @*<div class="add_new_user">
            <div class="col-lg-12">
                <section class="search-sec" id="text_field">
                    <form action="#" method="post" novalidate="novalidate">
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                                <label>Region Name</label>
                                @Html.DropDownList("region", (CommonDropdowns.GetRegionList()), new { @class = "form-control search-slt", id = "ddlRegion" })

                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                                <label>Country </label>
                                @Html.DropDownList("country", (CommonDropdowns.GetCountryList()), new { @class = "form-control search-slt", id = "ddlCountry" })
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                                <label>Location </label>
                                @Html.DropDownList("location_id", (CommonDropdowns.GetLocationList(null)), new { @class = "form-control search-slt", id = "ddlLocation" })
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 p-0">
                                <label id="lblAuditType">Process </label>
                                @Html.DropDownList("audit_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control search-slt", id = "ddlAudit_Type" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3 col-md-4 col-sm-12 p-0" id="divPart">
                                <label id="lblAuditType">Part </label>
                                @Html.DropDownList("Part", (CommonDropdowns.GetLineList()), new { @class = "form-control search-slt", id = "ddlPart" })
                            </div>
                            <div class="col-lg-3 pull-right">
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                    <label id="lblError" style="color: red;"></label>
                                    <button type="button" class="btn btn-danger wrn-btn" onclick="Show();">AUDIT</button>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                                    <label></label>
                                    <button type="button" class="btn btn-danger wrn-btn1" onclick="ClearAll();">CLEAR</button>
                                </div>
                            </div>
                            </div>
</form>
                </section>
            </div>
        </div>*@

        <div class="data_user">
            <section class="wrapper main-wrapper row">
                <div id="ViewPart" class="col-md-12">
                    @Html.Partial("~/Views/PerformAudit/DisplayPerformAudit.cshtml", Model)
                </div>
            </section>
        </div>
       

    <div class="loading_modal"></div>
                    }
