﻿@model List<Audire_POCO.ProcesssPOCO>
@using Audire_MVC.Utilities
@{
    ViewBag.Title = "MobileBulkQRDetails";
    Layout = "~/Views/Shared/_mobileLayout.cshtml";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<script src="~/Scripts/js/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/js/respond.min.js"></script>
<script src="~/Scripts/js/app.js"></script>
@* <script src="https://code.jquery.com/jquery-1.12.1.js"></script>*@
<script src="~/Scripts/js/jquery-ui.js"></script>
@*    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>*@

<script src="~/Content/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/vendor/bootstrap/js/popper.min.js"></script>

@*    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

<script src="~/Content/vendor/bootstrap/js/tooltip.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
@*<link href="~/Content/css/chosen.css" rel="stylesheet" />*@
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
@*<link href="~/Content/css/font-awesome.css" rel="stylesheet">*@
<link href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css/SidebarNav.min.css" rel="stylesheet" />
@*<script src="~/Scripts/js/modernizr.custom.js"></script>*@
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

<link href="~/Content/css/custom.css" rel="stylesheet">
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
 <script src="https://www.google.com/cloudprint/client/cpgadget.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
    })

    function PrintDiv() {

        //Get the HTML of div
        //var divElementsLength = document.getElementsByClassName('colQR1').length;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        var htmlBody = "<html><head><title></title></head><body>";
        //htmlBody = htmlBody.concat('<style>#ViewPart { width: 100%;height: 100%;float: left;}/<style>');
        htmlBody = htmlBody.concat('<div id="ViewPart" style="width: 100%;height: 100%;float: left;">');
        htmlBody = htmlBody.concat(document.getElementById("ViewPart").innerHTML);
        htmlBody = htmlBody.concat("</div></body></html>");
        document.body.innerHTML = htmlBody;
        //window.print();
        var gadget = new cloudprint.Gadget();
        gadget.setPrintDocument("text/html", "Print", document.body.innerHTML);
        gadget.openPrintDialog();
        document.body.innerHTML = oldPage;
        setTimeout(function () { document.body.innerHTML = oldPage; }, 2000);

        //if (navigator.userAgent.indexOf("Chrome") != -1) {
        //    window.location = location.href;
        //} else {
        //    window.location.reload(true);
        //}
    }





    var rootUrl = '@Url.Content("~")';
    $(document).ready(function () {
        //setModule();
        $("#ddlAudit_Type").change(function (e) {
            var process_id = $("#ddlAudit_Type").children("option:selected").val();
            $("#ViewPart").load(rootUrl + "BulkQRDetails/DisplayBulkQRCode",
           { process_id: process_id });
        });
        $.ajax({
            url: rootUrl + "PerformAudit/GetAuditType",
            type: 'GET',
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: ({ "module_id": 2 }),
            success: function (result) {
                console.log(result);
                $("#ddlAudit_Type").html(""); // clear before appending new list 
                $("#ddlAudit_Type").append(
                        $('<option></option>').val("0").html("ALL"));
                $.each(result, function (i, auditType) {
                    $("#ddlAudit_Type").append(
                        $('<option></option>').val(auditType.ID).html(auditType.Audit_Type));
                });
            }
        });
    });

    //$('#tblPart').click(function (e) {
    //    var row_index = $(this).parent().index('tr');
    //    var col_index = $(this).index('tr:eq(' + row_index + ') td');
    //    var id = $(this).parent().find("input[type=hidden]").val();
    //    if (col_index < 2) {
    //        //$("#EditPart").hide();
    //        $('#ViewPart').show();
    //        $("#ViewPart").load(rootUrl + "BulkQRDetails/DisplayBulkQRCode",
    //   { Id: id, viewName: "DisplayBulkQRCode" });
    //    }
    //    else {
    //        $('#ViewPart').hide();
    //        //$("#EditPart").show();
    //        //$("#EditPart").load(rootUrl + "Part/DisplayPart",
    //        //{ Id: id, viewName: "EditPart" });
    //        // }

    //    }
    //})


    function PrintPanel() {

        var panel = document.getElementById("<%=pnlPrintBulkQRDetails.ClientID%>");
        panel.style.visibility = "visible";
        //PageMethods.SetDownloadPath("yes");
        window.print();

    }
</script>

<style>
    .bs-example
    {
        margin-top: 1em;
        /*height: 120px;*/
    }

    .filter_panel
    {
        background-color: #CDEAD2;
        padding: 10px;
        -moz-box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        box-shadow: 0px 1px 10px rgba(10, 10, 10, 0.25);
        border-radius: 5px !important;
        float: left;
        width: 100%;
    }

    .filter_label p
    {
        margin: 15px 0 0 0;
    }

    .backgroundcolor
    {
        background-color: #AFEEEE;
    }

    .qr-title
    {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .qr-title1
    {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .colQR1
    {
        width: 100%;
        float: left;
        padding: 15px 0;
        border-style: groove;
    }
</style>

@using (Html.BeginForm())
{
    //foreach (var m in Model)
    //{
          
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="page-wrapper">
        <div class="main-page">
            <div class="tables">
                <div class="col-md-12 nopad">
                    <div class="red">
                        <div style="color: red; text-align: center; font-size: 14px" class="statusmsg">
                            @{var value = TempData["qrmessage"] as string;}
                            @if (value != null)
                            {
                                <p>@value.ToString()</p>
                            }
                        </div>
                    </div>
                    <div class="bs-example widget-shadow backgroundcolor" data-example-id="bordered-table">

                        <div class="row-info">
                            <div class="col-md-4 col-sm-6 nopad">
                                <div class="col-md-6">
                                    <p>Process : </p>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("process_id", (new CommonDropdowns().GetAudit_Type()), new { @class = "form-control aud-control", id = "ddlAudit_Type" })
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6">
                                <input type="button" class="btn btn-save" onclick="PrintDiv();" value="Download & Print" style="margin-left: 450px; width: -70px;" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="ViewPart">
                        @Html.Partial("~/Views/BulkQRDetails/DisplayBulkQRCode.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
@*
    }*@


}

